[2019-06-19 15:20] mrbean-bremen commented on #489
Good point about future users - maybe we'll add this to the [troubleshooting guide](http://jmcgeheeiv.github.io/pyfakefs/master/usage.html#troubleshooting)! With docker, this will probably happen more often now...

[2019-07-08 15:00] con-f-use commented on #338
I'm still experiencing this or a similar problem.

As a temporary workaround in `fake_filesystem_uinittest.py` I added an extra `copy`:

[code]

[2019-07-08 18:56] mrbean-bremen commented on #338
Ok, reopening in this case.
@con-f-use - what Python and pyfakefs versions do you use, and what OS? Do you get this for each test?

[2019-07-08 20:23] con-f-use commented on #338
@mrbean-bremen

[code]

[2019-07-09 05:25] mrbean-bremen commented on #338
Hm, looks some kind of weired side effect with a specific module - probably your change is the best fix in this case. Out of interest - can you check which module it is choking on (e.g. by adding some print output to `is_fs_module`)? Interesting to know how that can happen... I think I will incorporate your fix tonight in this case.
As for `xonsh` - never had heard about this one, sounds interesti

[2019-07-09 08:08] con-f-use commented on #338
Adding a print output in `is_fs_module()` just prints a lot of module names after the test is done, so no idea which one is the culprit.

[2019-07-09 09:36] mrbean-bremen commented on #338
Well - the last printed one should be the one (given that you run only the failing test), but that's not that important anyway - just a matter of interest.

[2019-07-09 11:17] con-f-use commented on #338
Allright, [suit yourself](https://paste.ubuntu.com/p/XFVkjNr5Ch/) then.

[2019-07-09 19:33] mrbean-bremen commented on #338
Ok, don't have the time today, will have another look tomorrow.

[2019-07-10 09:41] mrbean-bremen commented on #338
BTW, I checked that log file, and the last entry is `RE_HIDDEN_BYTES`, which is defined in `xonsh.proc` - so it has to do with xonsh, after all. I will see if I get to it tonight.

[2019-07-10 11:10] con-f-use commented on #338
Who knew. The xonsh developers are usually very active, friendly and helpful. If one of us tells them of this issue, I suspect they'll be very quick to fix it.

[2019-07-10 12:07] mrbean-bremen commented on #338
Probably it's just unusual code, not a bug - and with your fix (e.g. copying the dict) we can handle this. I don't think the performance penalty is worth considering, but I'll check it.

[2019-07-10 19:39] mrbean-bremen commented on #338
Ok, couldn't reproduce the problem under Windows with xonsh installed, but then I didn't really expect that - just wanted to play around with xonsh ;)
I'm just adding your fix in now - it doesn't impact the performance, as far as I could see. I didn't have an idea how to test this, though.

[2019-08-03 18:51] mrbean-bremen opened #492 "Drop support for Python 2"
Support for Python ends in January 2019, and many projects are [committed to drop support](https://python3statement.org/) at that date or before.
I propose to officially drop support for Python 2 in pyfakefs 4.0, which may be released somewhere at the start of 2019 or even earlier, and leave open the possibility for updates to a previous version in case a fix is really needed for Python 2. I would

[2019-08-06 11:53] hugovk commented on #492
Sounds good. Python 3.4 is also EOL, so that can be dropped already.

[2019-08-06 12:07] mrbean-bremen commented on #492
Yes, Python 3.4 will certainly be dropped with the next major release, though that is not such a big deal as Python 2 ;)

@jmcgeheeiv - what do you think?

[2019-08-07 00:11] jmcgeheeiv commented on #492
Things will be much easier to support without Python 2. I leave Python 3.4 to your discretion.

[2019-08-07 01:12] thed0ctor opened #493 "AttributeError: 'FakePipeWrapper' object has no attribute 'delete_on_close'"
**Describe the bug**
When using plumbum and the fake filesystem I'm unable to run plumbum commands (which uses Popen).

Note you can test what `do_something`'s behavior should be by doing a:
[code]

**How To Reproduce**

**requirements.txt**:
[code]

**test_plumbum.py** contents:
[code]

Run `python3 -m "pytest" test_plumbum.py` and you will see the following output:
[code]

**Your enviroment**
Pl

[2019-08-07 05:33] mrbean-bremen commented on #493
Thanks for the report!
While this concrete exception is probaly easy to fix (and we will certainly do that), I doubt that your example will work anyway as it uses `subprocess`, [which internally uses C calls](http://jmcgeheeiv.github.io/pyfakefs/master/intro.html#limitations) to access the file system.
You may also check the similar issues #187 and #447.

[2019-08-07 05:37] mrbean-bremen commented on #492
Thanks - I will add pyfakefs to the [Python 3 statement page](https://python3statement.org/) in this case (unfortunately, we have no icon...) and leave this issue open for reference. Probably will add a note in the release notes, too.

[2019-10-07 08:55] scarabeusiv opened #495 "Pyfakefs 3.6 test failures"
When updating pyfakefs from 3.5.8 to 3.6 release on openSUSE 3 of the tests fail:

[code]

The tests fail the same way both on py2 and py3.

This is bit problematic for us now as we need 3.6 because we prepare update for pyton 3.8 (where the old 3.5.8 does not work).

[2019-10-07 11:09] mrbean-bremen commented on #495
These are real OS tests that actually should not run in your case. I seem to have commented out the relevent code and accidentally checked in - sorry for that.
I will correct this tonight and probably make a new dot release.

[2019-10-07 17:04] #495 closed

[2019-10-07 17:26] mrbean-bremen commented on #495
Ok, should work in 3.6.1 release.

[2019-10-09 15:15] ian-h-chamberlain opened #496 "Chmod on directories has no effect on readability"
**Describe the bug**
After creating a directory with files in it in the fake filesystem, then changing its permissions to disallow `r/w/x`, it is still possible to read the contents of the directory.

In a real filesystem, a directory with perms `000` would raise `PermissionsError` when attempting to read the directory contents.

This is not an instance of #489 – these tests still fail even when r

[2019-10-09 17:53] mrbean-bremen commented on #496
Thanks for the report! This case is indeed not implemented, and has not been noticed so far.
It's always a day after a release that a new bug pops up...

[2019-10-10 19:42] mrbean-bremen commented on #496
I can reproduce the `listdir` and `stat` problem, but `iterdir()` does not raise in the Travis tests for Linux (Ubuntu 16.04) and MacOS (10.13.3).

[2019-10-10 21:25] ian-h-chamberlain commented on #496
Thanks for the quick response! I am running macOS `10.14.6` – not sure if that would impact it. If there is any additional information you need from me to track it down please let me know.

[2019-10-11 19:09] mrbean-bremen commented on #496
Hm, actually I cannot reproduce any of these problems under Linux (in the Travis environment, as non-root user). I can reproduce all but the `iterdir` one under MacOS...
I need to investigate further - this seems to depend on the OS and also the OS version, and I'm not sure if it makes much sense to fix this, if it is not reliable in the real OS. Is there a POSIX standard that defines this? Or may

[2019-10-12 17:18] mrbean-bremen commented on #496
@ian-h-chamberlain - just to make sure: did you make these tests also on the real filesystem? Especially under Linux?

[2019-10-13 18:56] jmcgeheeiv commented on #496
I'm sorry, I have not seen such a thing.

On Sat, Oct 12, 2019 at 10:18 AM mrbean-bremen <notifications@github.com>
wrote:

[2019-10-13 19:58] ian-h-chamberlain commented on #496
@mrbean-bremen  – my apologies, it seems my test was incomplete  – `iterdir()` returns a generator and that generator must be exhausted for the OS to raise.

Here is a revised version, I was able to reproduce within a Linux container (don't have access to a real linux machine atm) as well as on macOS 10.14.6:

[code]

Output:
[code]

Docker command shows the same output:
[code]

[2019-10-14 05:56] mrbean-bremen commented on #496
Hm, as I said - I can reproduce the behavior under MacOS, but not under Linux (in Travis).
I added some changes in a [separate branch](https://github.com/mrbean-bremen/pyfakefs/tree/test-noread) which changes the behavior under MacOS only (if I change it under Linux, the real OS tests will fail).

Your tests look good, so there has to be some reason for the different behavior under Linux...
Just t

[2019-10-15 19:39] mrbean-bremen commented on #496
@ian-h-chamberlain - I added a PR with the changes (MacOS only, as I wrote), maybe you can check it out.

[2019-10-18 18:49] ian-h-chamberlain commented on #496
@mrbean-bremen Sorry for the delay. I was able to test on Linux and as far as I can tell the behavior is the same as on macOS for me – my test fails in the same way:
[code]

The error number in the `OSError` is indeed `errno.EACCES`, verified by adding an
[code]
in each test case where an error is expected.
Note this was also tested in a Docker container, but in this case the host is
[code]
Hope t

[2019-10-18 19:00] ian-h-chamberlain commented on #496
Second bit – my test fails on macOS using latest `master as well:
[code]

As far as I can tell, macOS (and Linux for that matter) default behavior is to allow `stat` on files, even if they are `0o000` permissions – but the fake filesystem raises an error when attempting to stat the file.

[2019-10-18 19:01] mrbean-bremen commented on #496
Hm, thanks for the information! The CI build is using Ubuntu 16.04. I may try to change that and test other systems, but as long as I don't understand where the difference comes from, I won't change it in the code. Maybe there is some setting that differs... I actually would have expected the behavior you describe, at least for `listdir` and `iterdir`, as these should need read permission for the

[2019-10-18 19:29] mrbean-bremen commented on #496
Ok, didn't see your second post about MacOS - this looks like a bug I did introduce. I agree that `stat` shall work in this case.

[2019-10-19 12:23] mrbean-bremen commented on #496
I did some branch mixup, but it shall be fixed now for MacOs.

[2019-10-25 03:22] Gapex opened #498 "os.scandir do not raise OSError when target is not directory"
**Describe the bug**
As stated in the doc of scandir in pyfakefs, https://github.com/jmcgeheeiv/pyfakefs/blob/master/pyfakefs/fake_scandir.py#L186, scandir raises OSError if target is not directory, but acutally not.

[code]

run the above code: python main2.py, output:
[code]

**My enviroment**
[code]

[2019-10-25 05:50] mrbean-bremen commented on #498
Thanks for the report!
What the comment tries to say, is that is raises if the path points to a regular file. The case of a non-existent path seems not to be handled...
I'm traveling right now and will be back in a week, I will have a look then.

[2019-11-01 19:36] #498 closed

[2019-11-01 19:37] mrbean-bremen commented on #498
@Gapex - shall be fixed in master, please check!

[2019-11-03 06:26] Gapex commented on #498
that's wonderful!

[2019-11-03 14:55] mrbean-bremen commented on #496
Ok, I just found out that probably the behavior does not depend on the distribution, but on the fact that the test is run in a docker container. Running the tests in an Ubuntu docker container shows the same behavior as for CentOs. This is a bit unfortunate, as I don't know how to test other systems not in a docker image - both Travis.CI and GitHub actions use Ubuntu images only. I know that inode

[2019-11-03 19:19] mrbean-bremen opened #499 "Scandir does not always support int fd"
In the Travis tests, some of the MacOS tests fail like this:
[code]
This seems to depend on the used scandir version. The tests and the code shall be adapted to emulate the real behavior.

[2019-11-03 19:23] mrbean-bremen opened #500 "Failed tests do not lead to failed builds"
Failing tests do not always lead to failed builds in Travis.CI, for example [this build](https://travis-ci.org/jmcgeheeiv/pyfakefs/jobs/606166603) is shown as succeded while many tests fail.

[2019-11-03 19:25] mrbean-bremen commented on #496
Due to #500 some of the results may not be valid...

[2019-11-03 20:08] mrbean-bremen commented on #496
Ok, sorry for all the confusion - all my tests have been void due to an incorrect Travis.CI script that does not fail the build if one of the test runs (except the last) fails. As the last test under Linux (but not under MacOS and not in a docker container) was running as a root user, the behavior was different here...
I will merge the fixed version to master in a moment - please check if that wor

[2019-11-03 20:12] mrbean-bremen commented on #499
Seems to happen for Python 3.7 only under MacOS and Linux, but not under Windows.

[2019-11-04 17:55] #499 closed

[2019-11-04 19:44] #500 closed

[2019-11-05 20:24] mrbean-bremen commented on #496
Shall be fixed now - please re-open if something is missing.

[2019-11-05 20:24] #496 closed

[2019-11-06 04:40] jmcgeheeiv commented on #496
That was some fine work on a difficult problem, @mrbean-bremen. Very well done.

[2019-11-06 18:06] mrbean-bremen commented on #496
Thanks - though this was an error of my own making - didn't think about error propagation while writing the test script for Travis...

[2019-11-12 14:59] bspradling opened #501 "disutil commands fails for multiple tests"
**Describe the bug**
While running multiple tests trying to use `disutil` to copy files between directories, every test after the first will fail.

[code]

When running this tests in isolation (one at a time), they both succeed.

**How To Reproduce**
Please provide a unit test or a minimal code snippet that reproduces the
problem.
[code]

**Your enviroment**
Please run the following and paste the

[2019-11-12 15:13] bspradling commented on #501
Appears to be an issue with how `disutil` is implemented? I can't recreate it with `shutil`. However, `shutil` in 2.7 has a limitation where the `src` directory can not exist.

[code]

[2019-11-12 15:21] mrbean-bremen commented on #501
We haven't tested `distutils` functionality so far - it may well be that the implementation uses OS-specific functions. I will have a look later tonight.

[2019-11-12 15:23] bspradling commented on #501
Thanks for the quick reply @mrbean-bremen. I'm figuring this might be the case. If so, please close the issue!

[2019-11-12 19:51] mrbean-bremen commented on #501
Hm, at a first glance I don't see anything in the code that should not work, but I can reproduce the issue. As far as I can see, there is some caching issue - the old fake os module is hold in `distutils.file_util`.
A workaround is to import that file in the test, e.g. do
[code]
in your test file (even if it is not used).
I'm not sure if that can be properly fixed, but I will probably have a close

[2019-11-13 06:24] mrbean-bremen commented on #501
I will probably add the import to the test code to fix the issue, similar to `zipfile` which had the same problem (see #427),  though I will try to understand the problem better anyway - maybe there is another possibility to handle this.

[2019-11-13 18:27] radoslawg opened #502 "Cannot os.remove a file after calling os.DirEntry.stat() on it"
**Describe the bug**
When a os.scandir() is followed by stat() function on a file, pyfakefs refuses to os.remove the file ending with Except.

**How To Reproduce**
Consider following testcase:
[code]

it ends with
[code]

**Your enviroment**
[code]

Workaround is to use os.stat() instead of os.DirEntry.stat() .

[2019-11-13 18:34] #501 closed

[2019-11-13 18:57] mrbean-bremen commented on #502
Thanks for the report - looks really strange...

[2019-11-13 19:07] radoslawg commented on #502
Maybe I'm missing something, but I cannot find any clue in python documentation. Also, it works on real fs, so it seems it is limited only to **pyfakefs** .

[2019-11-13 19:31] mrbean-bremen commented on #502
Yes, it's a bug in pyfakefs (Windows only) - I'm on it. Good catch!

[2019-11-13 19:54] #502 closed

[2019-11-16 09:54] mrbean-bremen opened #504 "CI tests failing for Python 3.8"
Adding Python 3.8 to the CI tests shows several failing unit tests:
- in the [linux tests](https://travis-ci.org/mrbean-bremen/pyfakefs/jobs/612744562), several of the shutil tests are failing
- under [MacOS](https://travis-ci.org/mrbean-bremen/pyfakefs/jobs/612744568), 2 of the pytest tests fail
- in [Windows](https://ci.appveyor.com/project/mrbean-bremen/pyfakefs/builds/28903243/job/4qrtt39p4but

[2019-11-22 20:42] mrbean-bremen commented on #504
All tests passing now.

[2019-11-22 20:42] #504 closed

[2019-11-24 18:46] mrbean-bremen commented on #492
Python 2 support is now dropped in master, with the last release out that still supports it.
Closing.

[2019-11-24 18:46] #492 closed

[2019-11-24 18:47] mrbean-bremen commented on #277
Closing as obsolete - no more Python 2 support.

[2019-11-24 18:47] #277 closed

[2019-12-03 15:34] a-recknagel opened #505 "Usage with importlib.resources.path"
**Bug description**
When using `pyfakefs` together with `pytest`, `importlib.resources.path` will break with an `IsADirectoryError`.  I also posted this to [stackoverflow](https://stackoverflow.com/questions/59160123/how-to-use-pyfakefs-in-conjunction-with-importlib-resources-path) before thinking that it might be more appropriate to file a bug over here.

**How To Reproduce**
_foo.py_:
[code]
Jus

[2019-12-03 19:13] mrbean-bremen commented on #505
As far as I understand that, you want to access the real file system from the fake fs. This will not work out of the box, because the fake fs is empty at test start.
If you want to access a real directory, you have to [map it into the fake file system](http://jmcgeheeiv.github.io/pyfakefs/master/usage.html#access-to-files-in-the-real-file-system), e.g.
[code]
If you want to access any resources in

[2019-12-03 19:22] mrbean-bremen commented on #505
And I just read the answer on stackoverflow - the advice to mock the result of `importlib.resources.path()` call may still make sense in case this will not work.

And you are right - asking the question here gives you a much better chance to get a response from the maintainers ;)

[2019-12-03 21:33] a-recknagel commented on #505
Ok, I did some testing and it seems using `add_real_directory` will work for my use case.

In the actual problem I'm facing, I would ultimately end up creating a file during the test that should not exist after the test is done, and I'd assumed that mapping the real files into the fake fs will foil that.

After a quick test, that didn't seem to be the case though. The fact that `importlib` was rec

[2019-12-03 21:33] #505 closed

[2019-12-04 10:09] mrbean-bremen commented on #505
Glad to help!
Not touching the real file system is actually one of the main things pyfakefs is about. The fake filesystem lives completely in memory, and mapping a real directory just means that the directory structure is copied to the fake file system, and if the content of a file in this directory is read, it is copied into the fake file on the fly. Any changes you make to the file system while

[2019-12-20 15:06] vtsatskin opened #507 "Calling `os.makedirs(..., exists_ok=True)` on a directory that is not writable raises the wrong exception"
**Describe the bug**
When using `os.makedirs(..., exists_ok=True)` on a directory that does not have write permissions, the raised exception is not correct. `FileNotFoundError` is raised instead of an expected `PermissionError`. This is different from the expected behaviour when using real filesystem APIs.

**How To Reproduce**

[code]

pytest will fail stating that `FileNotFoundError` was raised

[2019-12-20 18:10] mrbean-bremen commented on #507
Thanks for the report!

[2019-12-20 18:32] #507 closed

[2019-12-20 18:32] mrbean-bremen commented on #507
Shall be fixed in master now.

[2019-12-20 18:39] vtsatskin commented on #507
@mrbean-bremen thank you very much for the fast response and fixed. It's very much appreciated.

[2019-12-20 18:59] mrbean-bremen commented on #507
Thanks - glad to be able to help!

[2019-12-21 03:46] jonringer opened #508 "Python 3.7 tests are broken"
**Describe the bug**
Packaging this for nixpkgs, and noticed the python3.7 test suite is broken with the following error:

<details> <summary> Error log </summary>

[code]
</details>

It's also only failing on 3.7. 2.7,3.5,3.6,3.8 all seem to pass fine.

**How To Reproduce**
[code]

**Your enviroment**
Please run the following and paste the output.
[code]
pyfakefs 3.7

[2019-12-21 15:30] mrbean-bremen commented on #508
Thanks! We didn't notice this due to an older Python 3.7 version used in the Travis tests.
I can confirm that this is reproducible both with Python 3.7.6 and Python 3.8.1, but didn't happen with the previous versions (3.7.5 and 3.8.0). Looks like the `pathlib` implementation has changed in these versions.
I will try to understand that and get a fix together. I will probably make a dot release afte

[2019-12-21 16:33] mrbean-bremen commented on #508
For reference - this has been introduced in `pathlib` in [this commit](https://github.com/python/cpython/commit/10ecbadb799ddf3393d1fc80119a3db14724d381).

[2019-12-21 16:47] mrbean-bremen commented on #508
Fixed in master and 3.7.1 branch, added [new 3.7.1 PyPi release](https://pypi.org/project/pyfakefs/).
Closing. Please reopen if you still have problems with 3.7.1.

[2019-12-21 16:47] #508 closed

[2020-01-10 20:13] vtsatskin opened #509 "tempfile.TemporaryFile does not work on Linux with a fake filesystem"
**Describe the bug**
When invoking `tempfile.TemporaryFile` on a fake filesystem under Linux, a `NotImplementedError` is raised. This does not occur on macOS.

**How To Reproduce**

Both of the following tests fail:
[code]

With the following truncated output:

[code]

**Your enviroment**
[code]

This also happens on pyfakefs 4.0 from the master branch.

[2020-01-11 13:50] mrbean-bremen commented on #509
Thanks for the report! Looks like `tempfile` is using some open mode that we don't correctly support - I will have a look.

[2020-01-11 15:26] #509 closed

[2020-01-11 15:27] mrbean-bremen commented on #509
@vtsatskin - please check if current master works for you, and reopen if you still have problems!

[2020-01-12 19:40] mrbean-bremen commented on #484
I have played around a bit with this, and didn't find a way to make this really working without a major rewrite. I will add a respective note to the documentation (limitations section) and close this issue.

[2020-01-12 19:56] #484 closed

[2020-01-12 21:13] jmcgeheeiv commented on #484
Running your tests that use the real file system inside a Docker container would give you  the ephemerality of pyfakefs plus the exact implementation details like MRO.

Free software is so refreshing--no penalty for recommending the competition.

[2020-01-13 05:39] vuryleo opened #510 "Call os.makedirs('', exist_ok=True) will not raise FileNotFoundError in fakefs"
**Describe the bug**
`os.makedirs('', exist_ok=True)` will not raise `FileNotFoundError`

**How To Reproduce**
[code]

Output:
[code]

**Your enviroment**
Please run the following and paste the output.
[code]

[2020-01-13 06:32] mrbean-bremen commented on #510
Ok, thanks - strange use case, I didn't know that it behaves that way. Will have a look tonight...

[2020-01-13 06:40] mrbean-bremen commented on #484
I would call it alternative, not competition 😛

Actually, I had been thinking about documenting alternatives with pros and cons, after the limitations paragraph. Docker is certainly the mostly used alternative today, at least under Linux. Maybe I'll add this before the next release...

I added a `Features` paragraph to the documentation with the last commit, maybe you can have a look if we are mis

[2020-01-13 07:00] vuryleo commented on #510
The use case is that we wanna implement something like `shutil.move`. So we need to `makedir(dirname(dst), exist_ok=True)` first.

Then we encountered that `dirname('local_file') == ''`. Boom.

At last we wish to add this case to our unit test, and discovered that pyfakefs does not complain about this.

[2020-01-13 07:15] mrbean-bremen commented on #510
Ok, thanks - I still find the behavior a bit unexpected, and it seems not to be documented. Anyway, I will have a look later.

[2020-01-13 19:02] #510 closed

[2020-01-13 21:06] vtsatskin opened #511 "tempfile.TemporaryFile(..., dir=dir) does not raise FileNotFoundError on Linux when directory does not exist"
**Describe the bug**
When invoking `tempfile.TemporaryFile(..., dir=dir)` when `dir` does not exist on a fake filesystem under Linux, a `FileNotFoundError` is not raised. This does not occur on macOS.

**How To Reproduce**
[code]

This test fails because `FileNotFoundError` is not raised. When running the test on macOS, it passes.

Checking the expected behaviour using the real filesystem:

[code]

[2020-01-13 21:08] vtsatskin commented on #509
@mrbean-bremen thanks so much for the timely response and fix as usual. I've tested it and found that the issue has been resolved.

Upon further testing with my test suite, I found another bug related to `tempfile.TemporaryFile` and filed it in https://github.com/jmcgeheeiv/pyfakefs/issues/511.

[2020-01-13 21:47] mrbean-bremen commented on #511
Thanks - I will probably have a look at this later tomorrow.

[2020-01-14 07:13] mrbean-bremen commented on #510
Turned out `mkdir` has the same behavior, and that was already implemented - so not so unexpected in the end, I guess...

[2020-01-14 21:06] #511 closed

[2020-01-14 21:08] mrbean-bremen commented on #511
Ok, please check with master - hopefully this fixes the problem. It was caused by the same linux-specific `O_TMPFILE` flag as te previous one.

[2020-01-28 16:05] gethiox opened #512 "Discrepancy in `walk` implementation"
**Describe the bug**
There is a discrepancy between pyfakefs and native implementation of `walk` function.

When iterating over `walk()` with a path that is ending with a separator (`/`), first returned argument (`dirpath`) out of three (`dirpath`, `dirnames`, `filenames`) seems to be trimmed and ending separator is removed. This doesn't happen with native `os.walk()` implementation.

**How To Rep

[2020-01-28 17:46] mrbean-bremen commented on #512
Thanks - good catch!

[2020-01-28 18:16] #512 closed

[2020-01-28 18:44] mrbean-bremen commented on #512
Should work in master now - please check!

[2020-01-28 19:47] gethiox commented on #512
Fix works well for me on Windows and Linux, thanks for quick reaction!

One little thing that I also noticed during verification — it's not only about that one additional path separator, path which is passed to `walk()` will be in fact [proxied and returned on first iteration](https://github.com/python/cpython/blob/master/Lib/os.py#L402).  `fspath()` is only ensuring that given parameter is of exp

[2020-01-28 19:53] mrbean-bremen commented on #512
Thanks - yes, I have thought about something like this, and preferred the quick fix at the moment. But you are right, better to replicate the whole behavior - I'll look into this.

[2020-02-05 13:56] sametz opened #513 "tests of code that uses importlib_resources causes paths to be mangled"
This was initially [a Stack Overflow question](https://stackoverflow.com/questions/60068183/importlib-resources-backport-not-compatible-with-pyfakefs?noredirect=1#comment106242931_60068183)

When pytest with pyfakefs tests code with importlib_resources on Python 3.6, the paths from the tested code are mangled.

Minimal example, using the following project structure:
[code]
{edit: `tests` folder ne

[2020-02-05 14:37] mrbean-bremen commented on #513
Thanks, I will have a look tonight!

[2020-02-05 19:21] mrbean-bremen commented on #513
Ok, this looks a lot like #505. Basically, the fake filesystem is usually empty at test start (except for the temp file path needed by the `tempfile` module), so if you want to access any files in the _real_ filesystem in your test, you have to map them into your test:

[code]

In your real test, you don't know the path in advance, but you will probably add some parent path that you know to contai

[2020-02-06 02:02] sametz commented on #513
Thank you so much for this! I was able to apply this successfully to my actual library's tests (testing for regeneration of any missing bin files) and they now pass for Python 3.6 through 3.8.

[2020-02-06 02:02] #513 closed

[2020-02-12 12:39] FelixSchwarz opened #515 "shutil.move() moves directory contents if target dir exists"
I noticed that `shutil.move()` behaves differently if the target directory exists already.

Python:

 - if the target directory exists, move the source directory as a sub-directory of the target dir
 - if target directory does not exist, create it and move only contents of source directory

pyfakefs:

 - always moves contents of source directory only.

I noticed this with Python 2.7 (pyfakefs 3.7.

[2020-02-12 12:55] mrbean-bremen commented on #515
Thanks! I will try to have a look later tonight.

[2020-02-12 20:23] mrbean-bremen commented on #515
Ok, as we do not patch `shutil` functionality, but rely on the native implementation (this has been changed after #145 had been fixed), the real problem seems to be the fake implementation of `os.rename` - this is used by `shutil` and seems to handle this case incorrectly. I will have a go at this somewhere in the next days.

[2020-02-13 09:38] sagi-z opened #516 "lstat current directory fails on Linux"
**Describe the bug**
lstat for '.' fails on Linux

**How To Reproduce**
[code]

**Your enviroment**
Please run the following and paste the output.
[code]
Linux-4.15.0-76-generic-x86_64-with-debian-buster-sid
Python 3.7.3 (default, Nov 21 2019, 15:51:40)
[GCC 7.4.0]
pyfakefs 3.7.1

[2020-02-13 10:09] sagi-z opened #517 "lstat with bytes file name fails"
**Describe the bug**
Using *dulwich* for git access, and it is using byte strings to access files. This normally works on python. Not working with pyfakefs.

**How To Reproduce**
[code]

**Your enviroment**
Please run the following and paste the output.
[code]
Linux-4.15.0-76-generic-x86_64-with-debian-buster-sid
Python 3.7.3 (default, Nov 21 2019, 15:51:40)
[GCC 7.4.0]
pyfakefs 3.7.1

[2020-02-13 19:13] mrbean-bremen commented on #517
Good catch - thanks!

[2020-02-13 19:37] mrbean-bremen commented on #517
see also #325

[2020-02-13 20:13] mrbean-bremen commented on #517
Ok, this one will take a bit longer - byte string handling is not implemented consistently at the moment, so this needs some thinking through and some restructuring. While it would be easy to fix this concrete problem, there will be similar problems with byte strings in other use cases.

[2020-02-15 10:15] sagi-z opened #518 "Patcher.tearDown() issue with pathlib"
**Describe the bug**
If pathlib is imported between *Patcher.setUp()* and *Patcher.tearDown()* for the first time then
Patcher.tearDown() does not cleanup *pathlib* static accessors correctly.

**How To Reproduce**
Basically I'm using the 'fs' fixture plugin for *pytest*. I have tests which use *pyfakefs* and then some tests which don't use it. A simplified example of the problem decoupled from *p

[2020-02-15 16:05] mrbean-bremen commented on #518
Good point. This is a general problem for modules loaded during patching, that is not specific to `pathlib` (and not related to the static accessor) - the loaded module retains the patched version. This gives the same behavior:

[code]

This never came up until now (the use case is not very common) - I will check how to resolve this, thanks for another bug report!

[2020-02-15 16:07] mrbean-bremen commented on #518
The obvious workaround is to import the module (`pathlib` or `os`) before patching.

[2020-02-15 16:36] sagi-z commented on #518
Thanks for the quick response.
As I'm using pytest, it loads the pytest_plugin before my conftest.py, so I'll probably need to setup a pytest plugin of my own for this to work.
I'll give this a try and let you know.
10x

[2020-02-16 09:24] sagi-z commented on #518
Thanks for the quick reply, but I'm having troubles using this workaround with *pytest*.
I'm using *pytest* and I already have an import in my test for *pathlib*.
How can I workaround this using *pytest* with/without the *fs* fixture and the *pytest_plugin.py*?
I tried 2 approaches which didn't work for me for some reason (guessing this relates to how pytest loads modules for tests, but this is ju

[2020-02-16 14:03] mrbean-bremen commented on #518
I have a bit trouble to reproduce your scenario. In the simple example you have shown the problem goes away if `pathlib` is imported outside of the test fixture (before `setUp` or after `tearDown`), at least for me.
As far as I understand, you use pytest for tests with and without the `fs` fixture, and the problem occurs if you import `pathlib` in a test and use it in another without `fs`. Maybe y

[2020-02-17 08:23] sagi-z commented on #518
Okay, so it turns out the problem is not directly *pytest* related. We have in the code a kind of global class with a *pathlib.Path* initialized once.
Here is some example code for which I need a *pyfakefs* solution as it won't always be tested with
*pyfakefs*:
[code]
Without the Patcher this works fine.
Thanks.

[2020-02-17 09:38] mrbean-bremen commented on #518
Ok, thanks - I will have a closer look tonight.

[2020-02-17 12:19] petr-motejlek opened #519 "Extract Patcher"
Hey,

I’ve recently used two other libraries that allow one to stub out certain standard library  functions, and I used them together with pyfakefs and really big kudos on how simple it is to patch things with pyfakefs in comparison ;)

Hence my thought: would you consider extracting the Patcher functionality into a separate package such that it would be possible to use it when patching other modu

[2020-02-17 18:19] mrbean-bremen commented on #519
Interesting idea, I haven't thought about this. `Patcher` currently has specific code for the file system functions, most of which can probably made configurable, and some of it (like creation of temp path and handling of `open` calls) might be handled by a derived class.

@jmcgeheeiv - what do you think?

[2020-02-17 19:02] mrbean-bremen commented on #518
Ok, I understand. I'm afraid that this will not work as is.

The problem is that `PathResolver.p` is assigned the fake path, and there is no possibility to change that automatically to the real path short of getting a new `PathResolver` object. Reloading only works with code that will be executed during reload, not function code.

What you try is to use an object created in the fake filesystem in

[2020-02-18 02:22] jmcgeheeiv commented on #519
Well, @petr-motejlek, that's just about the highest compliment we could receive. `Patcher` is one of the major features added to `pyfakefs` after the Google era.

We are perhaps a bit blinkered by our focus on `pyfakefs`. Could you give us an example of how you would use an independent `Patcher`?

[2020-02-18 04:32] sagi-z commented on #518
I see.
I have worked around this by adding a *reset* method to actual *PathResolver*. I use it in a fixture wrapping your fixture. I would have preferred not to change the runtime code for this...
The only current reason some tests cannot use the pyfakefs are issues #516 and #517 .
Hoping those issues will be fixed soon.
Thank for this great library and for your efforts.

[2020-02-18 06:25] mrbean-bremen commented on #518
I will see what I can do with these issues. I already had a go, and they turned out to be a bit more tricky than expected. I don't have much free time at the moment, so it may take a bit...

[2020-02-18 20:33] #517 closed

[2020-02-19 20:26] #516 closed

[2020-02-20 20:10] mrbean-bremen commented on #515
Ok, turned out to be yet another problem.

The root cause was that no `st_ino` had been set for the created directory in fake `mkdir`. That let to `os.samefile` not work correctly, as it uses `st_ino` for comparison, e.g. two different newly created directories are seen as the same object. As `os.samefile` is used by `shutil.move` internally, it handled the move as a simple rename.

Thanks for cat

[2020-02-20 20:17] mrbean-bremen commented on #518
After thinking a bit more about this, I do not consider this a bug - objects created in a fake environment cannot be used outside that environment due to side effects (e.g. fake objects assigned and processed). There is nothing we can do here - closing the issue.

Thanks anyway for the report that helped to understand the problem, and the other bug reports!

[2020-02-20 20:17] #518 closed

[2020-02-20 20:17] #515 closed

[2020-02-20 20:23] mrbean-bremen commented on #519
I have also thought about this a bit, and while I see the theoretical possibility to extract the patcher, I see no real use case at the moment. The Patcher alone is not sufficient - it also needs a fake implementation of the replaced module - at least this is the case in pyfakefs. Creating a fake module that simulates the real functionality (as opposed to a mock or stub) is not a trivial task.

Bu

[2020-02-20 20:58] FelixSchwarz commented on #515
Thank you :-)

[2020-02-21 12:51] petr-motejlek commented on #519
Let's compare the way your internal patcher works to `unittest.patch`.

* pyfakefs
** Has a fake implementation that it will replace the original with.
** Knows where the original it is replacing lives.
** Can look for a lot of ways how the original can be referenced in unit under test.
** Has an integrated reload functionality for when you need to reload the unit under test code (due to default a

[2020-02-21 19:08] mrbean-bremen commented on #519
Thanks for that extensive explanation! You made your case, and "the sky is the limit" sounds good for a plan. 😀

I think I'm going to try to extract the patcher, and derive from it or configure it for pyfakefs, though this will take some time. If I succeed with that, @jmcgeheeiv can decide if he wants to split it into a separate package.

[2020-02-21 19:15] mrbean-bremen commented on #519
It probably makes sense to do this after the 4.0 release. I was actually thinking about making a release soon, with Python 2 support removed and a few bug fixes already there.
@jmcgeheeiv, what do you think?

[2020-02-25 11:08] petr-motejlek commented on #519
Sounds great.

Kudos for deciding to drop Python 2. It's time the world migrated away from it :).

[2020-02-26 16:15] noctuid opened #520 "Unable to extract tarball to temporary directory"
It does not seem possible to extract a tarball (with `tarfile.extractall`) to a temporary directory (as created with `tempfile.TemporaryDirectory()`). My initial guess was to add `gettempdir()` as a real directory, but it looks like pyfakefs already does this (though I don't know whether it does this as a real or fake directory or if that matters). Anyway, I get an error like this currently: `[Err

[2020-02-26 16:23] noctuid commented on #520
Think this might just be user error. Will reopen if I can't figure it out.

[2020-02-26 16:23] #520 closed

[2020-02-26 20:00] mrbean-bremen commented on #520
That's ok - better reporting a non-bug than not reporting a real bug!

[2020-03-02 16:00] marcinowski opened #522 "Include fixes from pyfakefs 4.0 in a Python 2.7 compatibility version."
**Is your feature request related to a problem? Please describe.**
While migrating the Python 2 legacy code using pyfakefs to Python 3 I encountered some issues related to this error (#509 and #511). I can see they'll be included in the 4.0 version which drops the support for Py2

**Describe the solution you'd like**
Is there any chance of including some of the fixes in a 3.7.2 version that will s

[2020-03-02 18:10] mrbean-bremen commented on #522
Sure, as long as it's only bugfixes, and someone needs them in Python 2.7, we can make patch releases for 3.7. I will have a look.

[2020-03-02 19:23] mrbean-bremen commented on #522
Ok, a new patch version [has been released](https://github.com/jmcgeheeiv/pyfakefs/releases/tag/v3.7.2) - please check.

[2020-03-03 11:21] marcinowski commented on #522
This is brilliant work, thank you so much!

[2020-03-03 11:21] #522 closed

[2020-03-03 20:09] retr0h opened #523 "DEFAULT_TYPES cannot be used on Validators using TypeCheckers with 4.0.0"
**Describe the bug**

Seeing the following error as soon as we started using 4.0.0.

[code]

**How To Reproduce**

[code]

**Your enviroment**
Please run the following and paste the output.
[code]

[2020-03-03 20:16] retr0h commented on #523
Ahh... looks to be related to `flask-restx`.

[2020-03-03 20:20] mrbean-bremen commented on #523
We're used to get issues roght after a release, but that was really fast... can you elaborate on that? Can we reproduce this?

[2020-03-03 20:23] retr0h commented on #523
HAHAH I was working on a project which uses this project quite a bit :)

I updated the example above.  It looks as though simply importing `flask_restx` introduces the issue.

[2020-03-03 20:39] mrbean-bremen commented on #523
I guess you would like a patch release with the fix?

[2020-03-03 20:41] #523 closed

[2020-03-03 20:42] mrbean-bremen commented on #523
Can you please check if it works for you with current master?

[2020-03-03 20:51] mrbean-bremen commented on #523
Ok, I made a new [patch release](https://pypi.org/project/pyfakefs/4.0.1/).

[2020-03-03 21:12] retr0h commented on #523
Looks good!  Thanks for the quick reply!

[2020-03-04 11:57] Chris2048 opened #524 "pyfakefs v4 builds as py2.py3 wheel"
**Describe the bug**
In Pypi repos, there is wheel "pyfakefs-4.0.1-py2.py3-none-any.whl" (see https://pypi.org/simple/pyfakefs/ )
But v4 drops support for py2.

**How To Reproduce**
pip install with unpinned pyfakefs for py2.7

[2020-03-04 12:23] mrbean-bremen commented on #524
Good point - didn't notice that! Will check this later today. Probably have to delete the current release to not be used for Python 2 install...

[2020-03-04 18:10] mrbean-bremen commented on #524
@jmcgeheeiv - can you please remove versions 4.0.0 and 4.0.1 from PyPi? I don't have the permission for that. Otherwise these will be installed under Python 2.7.
I had removed the Python 2 qualifier, but forgot the Universal flag in the config file...

[2020-03-04 21:30] jmcgeheeiv commented on #524
Deleted.

[2020-03-05 07:47] mrbean-bremen commented on #524
Thanks! Closing the issue - shall be fixed now.

[2020-03-05 07:47] #524 closed

[2020-03-06 14:40] tswast opened #525 "syntax error in 4.0.2 package"
**Describe the bug**

When attempting to create a conda package for pyfakefs, I'm getting a syntax error.

[code]

https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=128243&view=logs&j=1bf226d3-0e2f-52d8-fa93-7d9e633347b3&t=ec8d466d-e3b4-5115-4f06-222398f91e6c&l=419

Is `*` as an argument new syntax? I don't recall seeing it in Python 3.5.

**Your enviroment**

Conda Forge

[2020-03-06 16:51] mrbean-bremen commented on #525
This has been introduced to several functions in Python 3, the asterisk has been added in Python 3 meaning that all arguments after it are keyword-only arguments. Here is the documentation for [utime](https://docs.python.org/3.5/library/os.html#os.utime).

[2020-03-06 16:55] mrbean-bremen commented on #525
The error message looks like it comes from Python 2. I don't know much about conda, and can't have a closer look until later next week (traveling right now).

[2020-03-11 15:29] mrbean-bremen commented on #525
Ok, I had a closer look. The problem happens because `setup.py` is loaded by Python 2. `setup.py` takes the version from `fake_filesystem.py`, which is no longer compatible with Python 2.
So while we could change the implementation to `setup.py` being Python 2 - compatible, the correct fix would be to use Python 3 in the feedstock scripts instead.
In the [Linux CI configuration file](https://githu

[2020-03-14 19:31] mrbean-bremen commented on #525
@tswast - can the Python version be changed in the feedstock, or shall I release a new version where `setup.py` can be read by Python 2?

[2020-03-16 15:26] tswast commented on #525
Thanks for looking into this. Trying now with an updated "host" python version

[2020-03-16 15:35] #525 closed

[2020-03-19 23:07] iandanforth-alation opened #526 "Deprecator overrides global warnings"
**Describe the bug**
[This line](https://github.com/jmcgeheeiv/pyfakefs/blob/master/pyfakefs/deprecator.py#L49) attempts to restore the previous state of `warnings` which is changed on line 42. Unfortunately it assumes that the previous state is 'default' which is not always the case. If you have elsewhere set ENV variables to define your python warnings behavior this will override them.

This bug

[2020-03-20 06:27] mrbean-bremen commented on #526
Thanks - good catch! Will probably have a look tonight.

[2020-03-20 19:40] #526 closed

[2020-03-30 09:01] tnek213 opened #527 "pathlib.Path(".").absolute() uses an unmocked os module"
**Description**
`pathlib.Path(".").absolute()` uses an unmocked `os` module and I can't find a way to reload it.

**How To Reproduce**
[code]
_Prints the following when running test_cwd_

[code]
_While I expected:_
[code]
As can be seen the file system is mocked, but os.getcwd() used by the absolute() function of Path isn't and returns the real cwd.

**Enviroment**
[code]

[2020-03-30 11:02] mrbean-bremen commented on #527
Thanks - I will have a look.

[2020-03-30 18:53] #527 closed

[2020-03-31 15:09] mrbean-bremen commented on #527
@tnek213 - Thanks for catching this - I'm amazed that this came up only now!

[2020-03-31 17:41] tnek213 commented on #527
@mrbean-bremen  Thank you! Both for the lib which seems awesome and the amazing response time!

[2020-04-16 23:44] staticdev opened #528 "Question: use cases (beyond which unit test lib I use)"
Hi,

@mrbean-bremen answered a question of mine in StackOverflow, and I got interested in this lib. I am a long time python user, but unfortunately I did not give the required attention to the importance of testing. I know basics (difference of fake, stub, mock, what is a unit of code, etc).

I am practicing testing with a new project that uses pytest, and it has [a module](https://github.com/stat

[2020-04-17 18:27] jvasi opened #529 "'OSError: [Errno 9] Bad file descriptor' raised with Pillow image framework"
Python's Pillow image framework doesn't work properly with pyfakefs. When trying to save an image on the fake filesystem, the following exception is raised:

[code]

Here's a sample PyTest test to reproduce:
[code]

Note that the issue reproduces only when saving an image as JPEG (i.e. with '.jpg' extension) and doesn't reproduce when saving the image as PNG.

Environment:
Linux-4.15.0-96-generic-

[2020-04-17 19:04] mrbean-bremen commented on #528
Thanks for the interest!

About pandas - to make it a bit clearer, the full quote from the documentation is:

So, it would be ok if it used `io` or `os` under the hood. Though a quick glance at the pandas source code shows that it has its own internal `io` module written in C, that uses OS-specific functions to access the file system. So, where this is used, we are out of luck with pyfakefs. It is

[2020-04-17 19:29] mrbean-bremen commented on #529
Thanks for the report - looks like another instance where we are out of luck because of [C modules accessing the file system](http://jmcgeheeiv.github.io/pyfakefs/master/intro.html#limitations).

Pillow uses an `ImagingEncoder` object (this is a C module, though I haven't found yet where it comes from) to write the JPEG file, and passes it a file descriptor. This file descriptor has been patched b

[2020-04-22 19:03] mrbean-bremen commented on #529
I had another look, and this doesn't look promising. You could in principle register your own JPEG encoder, but that does not help much. If you just register a mock like this:

[code]

the test passes, but the written file is (unsurprisingly) empty. I have tried to write a simple fake encoder that just writes the image back, but that fails because the image is passed to the encoder as an opaque C

[2020-04-23 06:30] jvasi commented on #529
I see. Well, I appreciate you looking into this!

[2020-04-23 10:01] mrbean-bremen commented on #529
I'm closing this then - I added a comment in the documentation about pyfakefs not working with Pillow, but can't do anything else here, unfortunately.

[2020-04-23 10:01] #529 closed

[2020-05-12 18:27] Cheekie25 opened #530 "Calling os.chdir twice"
**Describe the bug**
When calling twice os.chdir, I get NotADirectoryError on the second call.

Stack trace :
[code]

**How To Reproduce**
[code]

**Your enviroment**
[code]

[2020-05-12 18:44] mrbean-bremen commented on #530
You create a file, not a directory (that would be `create_dir`) - so trying to `chdir` to a file will get you this error. Though I don't understand why you have to call it twice - it should raise on the first call.

[2020-05-12 18:55] Cheekie25 commented on #530
Sorry, I copied the wrong error, I was trying things. I edited the post.
I'm working on a program that, at a moment, save the current directory, chdir to a directory, and then chdir back to the initial directory.
And sometimes the initial directory is the same as the one it chdir to. So it kind of chdir twice.

[2020-05-12 19:45] mrbean-bremen commented on #530
Hm, I cannot reproduce this - probably will have another look tomorrow.

[2020-05-13 19:35] mrbean-bremen commented on #530
That's weird - the test passes with unittest but fails with pytest!
Looks like a Windows-specific problem related to path separators. This test:
[code]
passes under Windows. So this probably comes up seldom enough...
Good catch!

[2020-05-13 20:45] #530 closed

[2020-05-14 08:17] Cheekie25 commented on #530
Thanks !

[2020-05-14 08:33] Cheekie25 commented on #530
I'm not sure where to write that so I write this here for the moment.
I started using pyfakefs and I think it's great. It makes the code of my unit tests much more readable. So congratulation for your great work to all.
I converted several tests that were written by mocking system calls, to now use pf fixture instead.

It seems to me that the time required to run the tests with pytest is quite the

[2020-05-14 19:49] mrbean-bremen commented on #530
I haven't heard about this, and hadn't paid attention until now. I use test with coverage only occasionally, and take it as a given that they take longer.
I just ran the tests of pyfakefs itself (which isn't the same as running tests using pyfakefs), and the time with coverage was about double the time for a run without pyfakefs. I checked with the tests of another library of comparable size, and

[2020-05-26 19:50] knightjdr commented on #528
I am in the same situation of wanting to mock the filesystem for a module with `pandas.read_csv` and unfortunately this library is not compatible from my attempts. Works great otherwise though.

[2020-05-26 19:55] mrbean-bremen commented on #528
@knightjdr - thanks! I understand that you have tried to use pyfakefs with `pandas`, and it does not work (as I had suspected, but nver got around to test). I'll probably add `pandas` to the list of unsupported modules in the documentation.

@staticdev - do you need more information, or can we close this issue?

[2020-06-07 19:47] mrbean-bremen commented on #528
@knightjdr , @staticdev: I just had another look at pandas, and at least for `read_csv`
there is a possibility to use it with pyfakefs - just to let you know in case you are interested..

Pandas internally uses its `TextFileReader` to read from CSV, and this has an argument `engine` which defines which backend is used for file system access. The default is "c", but if you set it to "python", it wi

[2020-06-07 20:48] staticdev commented on #528
Nice work @mrbean-bremen.. so pandas is somewhat compatible. I really liked this lib. Congratulations for the effort. I think you can close the issue from my part.

[2020-06-08 05:32] #528 closed

[2020-06-08 05:37] mrbean-bremen opened #531 "Patch known libraries where possible"
There are some libraries that can be made to work with pyfakefs if adding some specific patches. This includes django (file locking, described as an example in the documentation), pandas (at least `from_csv` can be made to work, see #528), and probably more.

It could be helpful to automatically add these patches if the libraries are installed, with the option to disable this if not wanted.

[2020-06-15 02:45] mrbean-bremen commented on #528
@knightjdr, @staticdev: for your information, the current master now has integrated patches for reading both csv and Excel files in pandas. It would be nice if you could try it to make sure it works correctly. If nothing comes up, we'll probably do a new release in a few days.

[2020-06-15 14:07] knightjdr commented on #528
Tried to read a csv but I'm getting an error. It could be I'm making a noob mistake - I only started in Python a few weeks ago.

1. Install master branch:
[code]

2. Package to test
[code]

3. Test
[code]

Traceback
[code]

[2020-06-15 15:30] mrbean-bremen commented on #528
@knightjdr - Thanks for testing this! The problem here is this part:
[code]
`contents` must be of `bytes` or `str` type, as it represents the raw file contents.
If you change the line with `create_file` to:
[code]
it shall work.

[2020-06-15 16:29] knightjdr commented on #528
Yep, sorry. I messed up my multi-line string. It works perfectly after I fixed that.

[2020-06-16 10:48] staticdev commented on #528
@mrbean-bremen I will make tests ASAP. Unfortunately, too busy this week. I was added to my backlog =p

[2020-07-02 11:50] Aran-Fey opened #533 "Patch os.DirEntry"
**Is your feature request related to a problem? Please describe.**
pyfakefs doesn't patch `os.DirEntry`, which has the unfortunate side effect that `os.scandir` yields objects for which the check `isinstance(direntry, os.DirEntry)` fails.

**Describe the solution you'd like**
`os.DirEntry` should be replaced with `pyfakefs.fake_scandir.DirEntry` as long as pyfakefs is active.

**Describe alternati

[2020-07-03 19:26] mrbean-bremen commented on #533
There is currently no straightforward way to add this in pyfakefs (the patching works not as in `mock.patch`), though I may think about this. I'm curious, though - what is your use case here? I understand that it can make sense to differentiate between text and binary streams, as in another issue you wrote, by why check the type of a `DirEntry`?

[2020-07-03 20:00] Aran-Fey commented on #533
Well, essentially I have a bunch of functions that accept path-like objects as input - and `os.DirEntry` implements that interface, but only starting with python 3.6. So for backwards compatibility with 3.5, `DirEntry` objects need special treatment, which relies on an `isinstance` check.

It's certainly not a high-priority issue, but it'd be nice if my test suite didn't have to do so much manual

[2020-07-03 20:09] mrbean-bremen commented on #533
Ah, ok, but in that case it may be better to check if it has an `__fspath__` attribute.

As for the other attributes - for patched functions this isn't an issue, and for `pathlib.Path` you will find that `isinstance(pathlib.Path)` also fails. Until now, this never came up - as I said, I will have a look later, maybe it _is_ easy to change.

[2020-07-04 16:40] staticdev opened #534 "Error injecting fs in pytest class method + unittest.Testcase"
**Describe the bug**
I tried injecting `fs` in a method of a class using unittest.Testcase + pytest but it did not work.

**How To Reproduce**

Tested code:
[code]

Testing code:
[code]

I tried just injecting `fs` as in the [documentation](http://jmcgeheeiv.github.io/pyfakefs/release/usage.html#patch-using-the-pytest-plugin), also tried `@patchfs` and [`@pytest.fixture(autouse=True)`](https://doc

[2020-07-04 19:12] mrbean-bremen commented on #534
In your testing example you use `unittest`, so you can either use `setUpPyfakefs` in your `setUp` function, or use `@patchfs`.
This works in the sense that the fake fs is used, but your test fails because the file in the fake filesystem is not found. If you use the fake fs, you have to work with it. Here is a variant of the example above that will work:
[code]
Note that I have removed the patches

[2020-07-04 19:19] mrbean-bremen commented on #534
As a side note: pytest fixtures do not work with `unitest.TestCase` methods - if you want to use the pytest `fs` fixture, you could use instead:
[code]
Note that the test class is now not derived from `TestCase`, the name starts with `Test` (otherwise pytest won't find it), and instead of the `fs` parameter from `@patchfs` the `fs` fixture is used.

[2020-07-04 20:46] staticdev commented on #534
@mrbean-bremen thanks for the quick response, but I am still having errors even with the changes your sent me:

[code]

[2020-07-04 21:09] mrbean-bremen commented on #534
You did put `fs` as the last argument, right? Which version did you use?

[2020-07-04 21:25] staticdev commented on #534
Yes I did. I am using pyfakefs 4.0.2.

[2020-07-04 22:35] mrbean-bremen commented on #534
Thanks I:ll have another look tomorrow. By "which version" I actually meat which ox the versions I posted above, e.g. the unittest or the pytest version - I guess the first one.

[2020-07-05 08:08] mrbean-bremen commented on #534
Hm, I tested both variants as shown above, and both work for me. While I tested under Windows, this shouldn't make a difference. Did you really use the exact same code?
I will check your original test code linked in your description later today, to check if there are more problems.

[2020-07-05 11:40] mrbean-bremen commented on #534
I have adapted your tests accordingly and made PRs to show the different usages (using `setUpPyfakefs`, `@patchfs` and the `fs` fixture - for illustration only, delete them once you had a look) - and while the mypy tests fail (I didn't pay attention), the actual tests pass.
So I'm still unclear what the problem is.

[2020-07-05 13:43] staticdev commented on #534
@mrbean-bremen thanks a lot! I will review everything now =)

[2020-07-05 15:03] staticdev commented on #534
After reviewing your PRs, I saw that the main problem was I was using `TestPdfSplitter(unittest.TestCase)`, so that I needed `@patchfs`. And there were also the options of using pyfakefs `TestCase` and using no TestCase class. I went for the last approach (https://github.com/staticdev/pdf-split-tool/pull/83) which also had smaller code and I found more general for using in other cases.

Thanks aga

[2020-07-05 15:03] #534 closed

[2020-07-13 08:28] mrbean-bremen opened #539 "Travis.CI tests not running on PRs and in master"
Since [this commit](https://github.com/jmcgeheeiv/pyfakefs/commit/7b377f32a309b086f9241610042cd6456be8a3fb) the Travis.CI builds are not running any more in master. They work fine if triggered manually, but get not triggered automatically any more.
The commit in question did not change anything (was a documentation change only), so something in the Tracis configuration must have been changed.

[2020-07-13 19:09] mrbean-bremen commented on #539
The builds are actually running, they just don't show up in GitHub. There has been a recent issue in the Travis forum - added a respective question in [that thread](https://travis-ci.community/t/github-ci-notifiactions-from-travis-stopped-working/9238).

[2020-07-19 00:51] FGasper opened #540 "Address production use?"
Hello,

I’m wondering how feasible it is to use this module in production use to block filesystem access.

It appears, for example, that if I do:
[code]
… then any attempt to access the filesystem in open() will fail with ENOENT. For a program whose sole purpose is to process an input stream and output it (along the lines of `sed`), that seems to provide a sort of “cheap” replacement for container

[2020-07-19 09:49] mrbean-bremen commented on #540
If I understand you correctly, you just want to make sure that your program does not access the file system?
There is one problem with that: if you have Python modules written in C that access the file system via the native C API, pyfakefs will not see these (see [limitations](http://jmcgeheeiv.github.io/pyfakefs/master/intro.html#limitations)). Maybe I didn't understand your use case correctly, t

[2020-07-19 11:04] FGasper commented on #540
No you’re correct, and yeah that’s a shortcoming of the idea. Not sure how I’d prevent loading C-based modules. <shrug>

[2020-07-19 11:48] mrbean-bremen commented on #540
Ok - I don't know your code, and how it could access the file system accidentally, but I think that using pyfakefs for this task is probably not the best option.

[2020-07-19 12:37] FGasper commented on #540
Oh ideally I’d love to use an OS namespace or some other tool intended as a sandboxing mechanism. The server doesn’t expose unshare, Docker, etc., though, and I don’t have admin access. CPython doesn’t seem to expose anything like deno’s I/O access controls.

[2020-07-19 12:37] #540 closed

[2020-07-25 09:54] mrbean-bremen commented on #539
@jmcgeheeiv - I just switched the repo off and on again in the Travis configuration for my own fork, and it started to work again, Can you please try to do the same in your Travis settings?

[2020-07-26 10:57] mrbean-bremen commented on #531
Has been implemented for Pandas and django, more may be added on demand.

[2020-07-26 10:57] #531 closed

[2020-07-27 18:44] jmcgeheeiv commented on #539
I tried it and [it worked](https://travis-ci.org/github/jmcgeheeiv/pyfakefs/builds/707545434). Looks good.

[2020-07-27 18:48] mrbean-bremen commented on #539
Thanks - whatever the reason was, it is fixed now!

[2020-07-27 18:48] #539 closed

[2020-08-06 15:16] jbwdevries opened #542 "DeprecationWarning: DocumentLS.async is deprecated; use DocumentLS.async_"
Also, 'DeprecationWarning: Document.async is deprecated; use Document.async_'

[code]

The item being inspected is `xml.dom.xmlbuilder.DocumentLS`

test_foo.py:
[code]

requirements.txt:
[code]

Makefile:
[code]

python 3.6.9

[2020-08-06 20:50] mrbean-bremen commented on #542
Thanks for the report.

Hm, if some module issues a warning while inspecting one of its attributes, the only thing we can do here is just suppress all warnings, or at least deprecation warnings at this point, as we have no control over which modules are loaded.
This should be ok... I will probably check this over the weekend.

[2020-08-07 06:11] g3n35i5 opened #543 "No PermissionError gets raised on deleting a read-only file"
**Describe the bug**
I'm trying to modify a file in a unittest so that it is in read-only mode and therefore non-deletable unless the user has root privileges.

**How To Reproduce**
Run the following unittest class:

[code]
**Expected result:** The test runs without errors, because the file is in read-only mode and the user is not privileged and therefore must not delete the file.

**Actual result

[2020-08-07 18:16] mrbean-bremen commented on #543
This is intentionally. Under Unix  (not Windows), you _can_ remove such a file, as long as the file directory has write permissions. Here ist the respective test in pyfakefs (in *fake_os_test.py*):
[code]
Note that this test (like most pyfakefs tests) runs both in pyfakefs and in the real fs to ensure that the behavior is the same.

[2020-08-08 19:41] mrbean-bremen commented on #542
@jbwdevries - shall be fixed in master, please check!

[2020-08-08 20:59] kuwv opened #544 "Need guidance on using pkg_resources / importlib"
Currently, I am attempting dynamically load modules from a directory path. A similar approach is pluginbase. This involves using pkg_resources and importlib.

Please provide assistance getting module loading working with pyfakefs.

Unfortunately, the only available options are to either choose dynamic modules or pyfakefs.

[2020-08-09 04:54] mrbean-bremen commented on #544
Can you give a bit more context about your use case, please? From your description it is not clear to me what you are trying to achieve and how this is related to the fake filesystem, or to testing at all.
It would probably also help to show an example of what you are trying to do.

[2020-08-09 08:39] #542 closed

[2020-08-09 20:05] kuwv commented on #544
I figured out the issue. The pkgutil was the cause and had trouble narrowing it down. I needed to skip patching it.

`@pytest.fixture(params=['fs', [[['pkgutil']]], {'indirect': True}])`

[2020-08-09 20:05] #544 closed

[2020-08-10 15:00] jbwdevries commented on #542
Yes, it's fixed, thank you!

[2020-08-13 15:15] ollien opened #545 "Truncating a file with os.truncate does not change its contents"
**Describe the bug**
When calling `os.truncate` on a file that has been created in the fakefs, the contents are left unchanged

**How To Reproduce**
[code]
This should print out an empty string, but instead, it prints `Hello`. Removing `pyfakefs`, the correct behavior is observed. I separately observed this bug with the pytest fixture, as well.

**Your enviroment**
[code]

[2020-08-13 15:43] #543 closed

[2020-08-13 16:28] mrbean-bremen commented on #545
Thanks! I have to admit that I was ignorant of `os.truncate` (never used it myself), and pyfakefs has the same problem... This has not been implemented, and apparantly has not been noticed so far.

[2020-08-14 19:45] #545 closed

[2020-08-20 18:44] g3n35i5 commented on #543
Thank you for the clarification, I hadn't considered that...

[2020-08-24 12:09] hasansalimkanmaz commented on #338
Same issue here, It is not always giving error. I couldn't understand where it results from.

I read all the thread and upgraded my pyfakefs==4.1.0 that is the most recent one. OS is linux.

[code]

[2020-08-24 18:12] mrbean-bremen commented on #338
@hasansalimkanmaz - can you please check with current master? I added more robust error handling recently, but this is not yet released.

[2020-08-25 07:31] hasansalimkanmaz commented on #338
@mrbean-bremen - It works with master branch. Thanks for the info.

[2020-08-25 12:38] mrbean-bremen commented on #338
Ok, thanks - will close this again. If needed we can make a patch release soon.

[2020-08-25 12:38] #338 closed

[2020-08-25 12:49] couling opened #548 "Size limits (OSError Errno 28) causing content do disappear"
Size limits (OSError Errno 28) causing content do disappear.  Content that has been flushed to the file disappears after a further failed write.

The following test should pass:
[code]
**My enviroment**
[code]

[2020-08-25 13:06] couling commented on #548
Apologies, I've just spotted the above test should fail but for different reasons.  With buffered file access, the `truncate()` would also fail.  But the above assertion failure is still wrong.  There's no way that the file should randomly blank like that.

[2020-08-25 13:13] couling opened #549 "Simulate buffering=False"
It would be really useful to simulate unbuffered file access to simulate disk limits.

When opened with `open(... buffering=False)`:
- File system limits should be checked on `file.write()`
- As there's no buffer, after an OSError on `file.write()`, subsiquent operations `file.truncate()`, `file.seek()`, `file.close()` should succeed
- `file.flush()` should effectively be a NoOp.

I'm trying to te

[2020-08-25 16:33] #548 closed

[2020-08-25 16:35] mrbean-bremen commented on #548
Please check with master - should be fixed now.

[2020-08-25 19:12] mrbean-bremen commented on #549
I'm thinking about how to test this behavior. Are there any other cases except for failing write, where the buffer size will make a difference you know of?
This will probably take a bit, have to check the correct behavior first. The Python documentation is a bit scarce in that respect.

[2020-08-28 04:42] nicolashainaux opened #550 "Tests failing on Ubuntu 20.04 (focal) with python 3.8.2"
I'm trying to package pyfakefs for Ubuntu focal and the build on launchpad fails. I have reproduced the same error on a Virtual Box Ubuntu: a bunch of python3 related packages were already installed for another package (debhelper, dh-python, python3-all, python3-setuptools, tox, python3-pytest, python3-pytest-cov), so I just git cloned the repo (but I also tested with the latest release) and in ma

[2020-08-29 12:35] mrbean-bremen commented on #549
@couling - I added support for the `buffering` parameter to master. The support is not complete (text mode line buffering is not implemented), but for binary files this should work. Please check if this works for you.

[2020-08-29 16:32] mrbean-bremen commented on #550
Sorry, seem to have missed this issue... All failing tests don't find the `fs` fixture provided by pyfakefs -- pyfakefs seems not to be installed properly. Can you please show how you are invoking the tests?

[2020-08-29 16:45] mrbean-bremen commented on #550
Actually, this can probably be done in the tests - I will have a look at this.

[2020-08-29 20:50] mrbean-bremen commented on #550
@nicolashainaux - this shall be fixed in master, can you test this with master? If it works, I will probably make a new release.

[2020-09-02 13:20] nicolashainaux commented on #550
Hello,

Sorry for the delay, I wasn't expecting such a quick answer and was pretty busy too. Thank you for this very quick answer!!

So, I've tested on the virtual machine, I get much better results:

[code]

The tests end in green, so I guess this is OK. I don't know what "xfailed" are about, though.
I'm sending this to launchpad to check it works there too. I'll tell soon.

[2020-09-02 13:35] mrbean-bremen commented on #550
`xfailed` are tests that are expected to fail. If that works, you probably would need a new release, correct?

[2020-09-02 16:05] nicolashainaux commented on #550
Hello, this seems to work fine. I could upload to launchpad and the build succeeded there, so I could add the PPA to my virtual machine and `sudo apt install python3-pyfakefs` correctly.

I needed to package `pyfakefs` for Ubuntu to be able to build another package that relies on `pyfakefs` for the tests. To get it quickly working, I've created a PPA. So, as it is, I do not need a new official rel

[2020-09-02 16:06] #550 closed

[2020-09-02 16:13] mrbean-bremen commented on #550
Ok, thank you - in this case we will wait with a release until some more changes accumulate. Having pyfakefs in some Ubuntu release would be nice - thanks for considering this!

[2020-09-06 17:10] #549 closed

[2020-09-13 13:26] #493 closed

[2020-09-13 15:34] giladreti opened #552 "open is not skipped for skipped modules"
While experimenting with the package, I have found that the `open` builtin is faked for even for modules that I have excluded from faking via the Patcher context manager.

[code]

**How To Reproduce**
I have the following setup:
[code]

test.py:
[code]

my_file.py:

[code]

**Your enviroment**
[code]
The output is as follows:
[code]

Could a possible solution be patching the builtin `open` by over

[2020-09-13 15:46] giladreti opened #553 "AttributeError: type object 'Path' has no attribute '_flavour'"
**Describe the bug**
pathlib claims that Path has no _flavour when module is marked for skip. When the module is not marked for skip it works just fine.
[code]

**How To Reproduce**
I have the following setup:
[code]

test.py:
[code]

my_file.py:

[code]

**Your enviroment**
[code]
The output is as follows:
[code]

[2020-09-13 17:32] mrbean-bremen commented on #552
Thanks for the report -- this has probably never been used so far, so it has nor been noticed.

[2020-09-13 19:55] mrbean-bremen commented on #553
The call stack does not match your `my_file.py` listing - I guess this is copy-and-pasteed from the other issue.

[2020-09-14 04:45] giladreti commented on #553
Sorry, I have edited it now.

[2020-09-14 18:49] mrbean-bremen commented on #552
This one may be a bit tricky, because other than all other patched imports, `open` is imported implicitely from `buildins`, so the usual mechanism does not work here. I have to think about this...

[2020-09-16 18:22] mrbean-bremen commented on #552
Out of interest - what is the use case you need this for?

[2020-09-16 19:34] giladreti commented on #552
I am using the botocore library, which generates classes dynamically based on data files that come with it. It uses the builtin `open` for that, and mocking the fs making it break as it cannot find its config files. As a temporary solution I am using `add_real_directory` for adding the necessary files to the fake fs, but this is not ideal...

[2020-09-20 19:04] #552 closed

[2020-09-24 18:39] mrbean-bremen commented on #553
Just for the record: the problem here is that while the `pathlib` used in the skipped module is not patched, the original `pathlib` (used in this case) is patched to use the fake `Path`. This is needed because most of `pathlib` is used in the fake version, so we cannot just just change this, as it would break modules that use the patched `pathlib`. It also doesn't help to change the behavior of th

[2020-09-24 18:44] mrbean-bremen commented on #552
Actually I used to do the same for some django-related package (I think tzinfo, which loads the timezone info from disk). I agree that this is not ideal (though it works well enough, and has no real performance penalty), so to fix these things is a good idea.

[2020-10-01 23:25] shoshber opened #554 "Plans to support `io.open_code`?"
**Is your feature request related to a problem? Please describe.**

In python 3.8.1+ my tests are failing because of this change: https://github.com/python/cpython/pull/17244

This appears to be because pyfakefs' io only mocks `io.open` (http://jmcgeheeiv.github.io/pyfakefs/release/modules.html?highlight=io#pyfakefs.fake_filesystem.FakeIoModule)

This is somewhat disappointing as pyfakefs has work

[2020-10-02 14:13] mrbean-bremen commented on #554
Thanks for the report! I hadn't seen `open_code` before (missed that in the changes for Python 3.8).
The easiest way to fix this would be to do just the same as the Python implementation which just uses `open`, but that would not implement the full functionality. It does not look to me like that functionality can be added in pure Python, but I have to take a closer look at this.
Did I understand y

[2020-10-02 21:16] shoshber commented on #554
Yes, that's correct--I am using `runpy.run_module`, which calls `io.open_code` starting in version 3.8.1.

[2020-10-03 18:08] mrbean-bremen commented on #554
Hm, that turns out to be a bit more complicated than I thought. If I fake `open_code`, a few tests (specifically tests for pandas) fail because `open_code` is called internally by some modules to, well, open code files. As these (e.g. the compiled Python files) are not present in the fake file system, these tests fail. So, faking `open_code` unconditionally potentially breaks a lot of tests (while

[2020-10-04 12:45] mrbean-bremen commented on #554
@shoshber - I added a new argument [patch_open_code](http://jmcgeheeiv.github.io/pyfakefs/master/usage.html#patch-open-code) that by default is set to `False`. You can set it in `setUpPyfakefs`, if you are using unittest. In pytest, it's a bit awkward to configure--you have to use `@pytest.mark.parametrize('fs', [[None, None, None, True, True, True]], indirect=True)`--probably better use a customi

[2020-10-05 15:30] shoshber commented on #554
Indeed--in fact it breaks mine 🤣 I should have seen that coming--the code under test uses `runpy.run_module` in addition to `runpy.run_path`. The fix in master does exactly what I asked though, so thank you (especially for the quick turnaround!). Here's a minimal reproducible example, as requested:
[example.zip](https://github.com/jmcgeheeiv/pyfakefs/files/5328327/example.zip)

[2020-10-05 16:29] mrbean-bremen commented on #554
I'm confused--your example works for me without patching, but fails if `open_code` is patched. So you have another example that uses `runpy.run_path` and the behavior is the opposite one? Or are both used in the same test, and the `patch_open_code` option doesn't help you therefore?

[2020-10-06 03:56] kloczek opened #556 "3.5.8: test suite is failing"
**Describe the bug**
Test suite executes over `python3 setup.py test` is failing

**How To Reproduce**
`python3 setup.py test`

**Your enviroment**
[code]

Test suite output:
[code]

[2020-10-06 05:10] mrbean-bremen commented on #556
This version does not support Python 3.8 yet - this has been added in later version (in 3.7). Is there a reason why you are using this version (current is 4.1)?

[2020-10-06 10:34] kloczek commented on #556
Gosh .. my fault.
I've been thinking that I've downloaded latest version to package :P
Just retested my spec file against 4.1.0 and all looks good.

Thx and closing :)

[2020-10-06 10:34] #556 closed

[2020-10-06 23:43] shoshber commented on #554
Color me confused as well. I think this example explains it better: [example.zip](https://github.com/jmcgeheeiv/pyfakefs/files/5337383/example.zip). Here is how I run the example:
[code]

If I understand what you're saying, that describes my situation most closely.

Again, thank you for your help! If this isn't feasible, I understand and can find an alternative.

[2020-10-07 19:53] mrbean-bremen commented on #554
Thanks - didn't get to it today, but I will have a look tomorrow. Maybe I'll get an idea...

[2020-10-08 20:01] mrbean-bremen commented on #554
Ok, I changed the argument to now take an enum (`fake_filesystem.PatchMode`) which can be set to `OFF` (default), `ON` and `AUTO`. `OFF` and `ON` behave like `False` and `True` before, but in `AUTO` mode `open_code` is only mocked, if the file it shall open exists in the fake filesystem. That works at least for your minimal example (I actually added it as a test) - please check if that works for y

[2020-10-09 19:25] #553 closed

[2020-10-11 17:02] mrbean-bremen commented on #519
Getting back to this... I had played around with extracting `Patcher` inside pyfakefs, but didn't really get to a reasonable state. The problem is mostly that we have quite some special handling for the file system functionality, and factoring out the Patcher doesn't work very well.
I'm just thinking about the original proposal to make a separate package, that has most but not all of the functiona

[2020-10-14 01:27] shoshber commented on #554
It works beautifully, thank you! This might be the most positive and pleasant experience I've ever had on an issue thread.

[2020-10-14 10:59] giladreti opened #557 "changing cwd causes errors if simulating other os"
**Describe the bug**
When changing the current working directory while using the patched filesystem that mocks a **Linux** filesystem, the fake filesystem gets confused when trying to access **Windows** absolute paths, since absolute paths in Windows are not prefixed with a '/' while in Linux they are. The fake filesystem tries to resolve the path as a relative path in the current working director

[2020-10-14 11:00] giladreti opened #558 "Changing cwd in a Linux mocked filesystem in a Windows environment causes confusion"
**Describe the bug**
When changing the current working directory while using the patched filesystem that mocks a **Linux** filesystem, the fake filesystem gets confused when trying to access **Windows** absolute paths, since absolute paths in Windows are not prefixed with a '/' while in Linux they are. The fake filesystem tries to resolve the path as a relative path in the current working director

[2020-10-14 11:01] #557 closed

[2020-10-14 11:01] giladreti commented on #557
This issue was opened twice accidentally.

[2020-10-14 14:27] mrbean-bremen commented on #558
Thanks for the report!

Some background: Setting the filesystem OS in the tests is something we haven't paid too much attention, as it seemed not to be used much outside of pyfakefs itself. We use this quite a lot for our own tests, and I know that there _are_ a few shortcomings. Some of the faked code (mainly `pathlib`) relies on the real implementation, and therefore switching the OS may not wor

[2020-10-14 17:21] mrbean-bremen commented on #554
Thanks 😄 -- always good to know we could help someone!  We will probably make a new release soon, if nothing else comes up.
Closing this issue.

[2020-10-14 17:21] #554 closed

[2020-10-14 18:28] jmcgeheeiv commented on #519
Perhaps enhance `unittest.patch`?

[2020-10-15 04:35] mrbean-bremen commented on #519
Yes, something like that. A `unittest.mock.patch`-like interface (decorator and context manager) that tries to patch all instances of an object instead of only one like `patch`, probably very small at start, and then see if that gets somewhere.

[2020-10-15 07:41] giladreti opened #559 "Fake os.walk does not resolve symlinks properly"
**Describe the bug**
`os.walk` does not reolve the directory before checking if it is a symlink.

[code]
**How To Reproduce**
import os
from pathlib import Path

from pyfakefs.fake_filesystem_unittest import Patcher

[code]

Output is:
[code]

**Your enviroment**
Please run the following and paste the output.
[code]

Output is:
[code]

[2020-10-15 17:13] #558 closed

[2020-10-16 12:16] petr-motejlek commented on #519
Yeah, that sounds good!

[2020-10-17 17:43] mrbean-bremen commented on #559
Good catch! And your proposed fix is also correct.
As an aside--I noticed the inconsistent path separators in your example, and added a fix and a [more convenient way](http://jmcgeheeiv.github.io/pyfakefs/master/usage.html#simulating-other-file-systems) to set the file system OS, so thanks for that.
I would appreciate if you could test the master after I add the fix. I will wait for further issues

[2020-10-17 17:59] #559 closed

[2020-10-18 08:43] giladreti commented on #558
I think that any path that starts with a windows drive should be resolved as an absolute path only as a fallback (or you can force the developer to add a leading backslash to indicate it is indeed an absolute path) since it will cause resolving relative paths as absolute. There may be a better solution, I couldn't think about one now.
With the current changes, the following code will break:

[code

[2020-10-18 08:59] mrbean-bremen commented on #558
The combination of real files (added by `add_real_xxx` or from `__file`) with another file system is a bit of a problem, especially with drive letters. I don't have a good solution, and any solution will be make some sort of compromise.
As for your example--you are right, this is a case that now doesn't work because of that compromise made for real files to work, so maybe it wasn't such a good ide

[2020-10-18 15:30] mrbean-bremen commented on #558
Ok, I made the compromise a bit less problematic, while still retaining the ability to handle real files. It will not solve all cases, but hopefully most.
Waiting for more issues :)

[2020-11-01 09:21] mrbean-bremen commented on #559
And done.

[2020-11-01 09:33] mrbean-bremen commented on #559
@giladreti - will you still be testing this? Otherwise, I would make a new release with the changes.

[2020-11-01 09:37] giladreti commented on #559
I couldn't find any more bugs, so it is fine by me :)

[2020-11-02 10:38] sr-verde opened #565 "ModuleNotFoundError: No module named 'py'"
**Describe the bug**
Unittest fails with `ModuleNotFoundError: No module named 'py'`

[code]

This error does not happen with PyFakeFS versions less 4.2.

**How To Reproduce**
Minimal example:

[code]

**Your enviroment**
[code]

[2020-11-02 13:59] mrbean-bremen commented on #565
Thanks - I seem to have introduced a dependency to pytest here. Didn't notice this because pytest is always installed as a development dependency. I will try to fix this ASAP, for the time being the workaround is either to pin pyfakefs to the previous version, or add pytest to the dependencies.

[2020-11-02 15:29] #565 closed

[2020-11-02 15:33] mrbean-bremen commented on #565
@sr-verde, @mtreinish - I have publlished a new patch release (4.2.1) with the fix.

[2020-11-09 10:58] codethief opened #566 "Pytest plugin has side effect and is extremely unintuitive to use"
This might not be considered a bug, but it is – at the very least – a severe code smell.

**Describe the bug**
Once pyfakefs is installed, the pytest plugin seems to get loaded automatically and register a fixture with pytest. This has severe consequences:

- I don't even have to import pyfakefs anywhere in my project's code and yet I still have a dependency on pyfakefs that is completely non-obvi

[2020-11-09 12:14] mrbean-bremen commented on #566
I agree with the behavior of the `@patchfs` decorator, which may indeed be a problem. This was made intentionally to make it work similar to pytest, though I see that this may be confusing. It would probaly help to make the problem more obvious, I will think about this.

Not so sure about the fixture. This is the standard behavior of pytest and _all_ pytest plugins. While that may be weird, it is

[2020-11-09 13:01] codethief commented on #566
Wow, thanks a lot for responding so quickly!

Sure, but I would argue that this doesn't mean one should follow this weird standard. ;) Global state is *never* a good idea, as demonstrated perfectly by this issue.

Would a breaking change in an upcoming major version really be an issue, though, especially when adapting to the breaking change in existing projects would involve only changing one sing

[2020-11-09 14:56] mrbean-bremen commented on #566
Well, I disagree. Changing the established standard for pytest is an uphill battle that I don't want to fight. And yes, global state _is_ not a good idea, but in this case it is something that a criticial mass of developers is used to, so there you are...

Anyway, I would like to hear the opinion of @jmcgeheeiv on this.

Going the way of splitting the fixture into an extra package is something we

[2020-11-09 16:42] codethief commented on #566
Fair enough, the decision is certainly yours, not mine, to make. Thanks again for even taking the time to consider this!

[2020-11-09 19:11] mrbean-bremen commented on #566
I will try to change the keyword argument to a positional argument, as this would certainly be better.
As for the pytest plugin behavior--I may think about it, and will see what @jmcgeheeiv thinks, but I currently don't see much benefit in changing it.

I now remember why I didn't use a positional argument in the first place. While it is very easy to change, it does not play well with `mock.patch`

[2020-11-14 19:44] mrbean-bremen commented on #566
Hm, I probably will just document the behavior - not much I can do here, as all `mock.patch` calls are collected and their arguments added together contiguously. Anyway, I think this is still better then the keyword argument.

[2020-11-15 19:01] mrbean-bremen opened #567 "Pyfakefs 4.x is very slow"
The performance of pyfakefs has decreased dramatically (at least by a factor of 6) with version 4. I accidentally stumbled upon [a commit](https://github.com/tribe29/checkmk/commit/86516bbc4ec8d0610bdd94f2e3e745ca8a5c27cc) that has removed pyfakefs due to this problem.
We need some performance tests in place to avoid this kind of problems--this is something that I didn't pay attention to lately.
T

[2020-11-18 13:20] codethief commented on #566
Sorry for the delay!

Could elaborate on this? By "writing @patchfs before @mock.patch" do you mean

[code]

or

[code]

? In the first case I would expect `fs` to be the second argument of `foo()`, while in the latter case it should be the first argument.

[2020-11-18 14:03] mrbean-bremen commented on #566
Yes, but in reality it is vice verse now. `patch` goes through some hops to make it the the other (expected) way around, but only if you have several `patch` decorators. They basically collect all `patch` decorators, and add the arguments in the reverse order afterwards. This does not play nice with other decorators who want to do the same, and I gave up on this and just documented the behavior fo

[2020-11-22 20:41] mrbean-bremen commented on #567
With the introduced caching the setup performance is now acceptable. The performance test, which does nothing but setting up an empty test 100 times (with some modules loaded), takes now between 200 and 300 ms in master (but 3 - 3.5 s without caching), e.g 2-3 ms overhead per test. This is comparable with the performance in version 3.3 (which did do less patching).
Will make a patch release with t

[2020-11-22 20:41] #567 closed

[2020-11-24 09:18] hard7 commented on #552
Hi. In my project I have a file `logsio.py` and it has `open` inside. So `pyfakefs` doesn't fake it. I tried to do `pyfakefs.fake_filesystem_unittest.Patcher.SKIPNAMES -= {"io"}` but it doesn't look safe and `fs.add_real_file` doesn't work well. Changing the source name or moving `open` to another source file should solve the issue but I'd like to fix that on the `pyfakefs` side (without changes i

[2020-11-24 11:12] mrbean-bremen commented on #552
@hard7 - thanks for the report--this is obviously a bug. `logsio` shall not get skipped just because it ends with `io`.  Can you please write a new issue for this, as it is not related to this one (other than it may have been introduced while fixing this one)? I will try to fix this ASAP.

[2020-11-24 13:29] hard7 opened #569 "pyfakefs cannot fake open call if script name has specific ending"
In my project I have a file `logsio.py` and it has `open` inside. `pyfakefs` cannot fake it. The issue relates to #552

**How To Reproduce**
1. create a python file with a name that ends with `io` (example: logsio.py)
2. add a function inside the file that calls `open`
3. call this function inside a unit-test using `pyfakefs`

**Enviroment**
[code]

[2020-11-24 15:20] mrbean-bremen commented on #569
Thanks! I found the issue, it was indeed related to the fix for #552. I will commit the fix in a moment (if the CI tests pass). Do you need a new release version with the fix?

[2020-11-24 15:46] #569 closed

[2020-11-24 19:06] introkun opened #570 "Getting an infinite loop while using pyfakefs together with tqdm on MacOS"
**Describe the bug**
Getting an infinite loop while using pyfakefs together with tqdm on MacOS.
I can see in the stdout:
[code]
Switching to unittest module it solves the issue.

**How To Reproduce**
MacOS: Big Sur, 11.0.1 (20B29)
Python (in miniconda): 3.8.5
[code]

**Your enviroment**
[code]

[2020-11-24 20:00] mrbean-bremen commented on #570
Hm, I cannot reproduce this. I had your example program run in the [different CI environment](https://github.com/mrbean-bremen/pyfakefs/actions/runs/381807628), and as you can see, there seems to be no problem. Maybe I misundertood what you are doing?
Or there is another package installed that somehow causes the problem - can you show the output of `pip list`?

[2020-11-24 20:08] introkun commented on #570
pip list
[code]

[2020-11-24 20:10] introkun commented on #570
Yes it also works in other CI env (e.g. https://repl.it/join/xrhsucag-introkun).
But it didn't work on my laptop...

[2020-11-24 20:14] mrbean-bremen commented on #570
Thanks - that will be difficult to reproduce. I don't have a Mac, so I can't reproduce this locally for this specific enviroment... Can you try the same test in a minimal virtualenv, that has only pyfakefs and tqdm? If that also fails, it would rule out that other packages are responsible.

[2020-11-24 20:16] introkun commented on #570
https://monosnap.com/file/FIz6wR2EK8vUWHPdUwmVUN2P1HBoim

[2020-11-24 20:19] introkun commented on #570
It's same on clean env:
[code]

[2020-11-24 20:26] mrbean-bremen commented on #570
Ok, thanks - so I guess it has somehow to do with `tqdm` that uses `multiprocessing`. Do you use the same OS and Python version in your working CI environment?
I remember that there have been problems with `multiprocessing` before, but that had to do with some file system functions that could not be patched because system-specific functionality is used there (pyfakefs cannot patch these).

[2020-11-24 20:29] introkun commented on #570
![image](https://user-images.githubusercontent.com/61635/100147704-c3d99000-2eac-11eb-824a-50c8dbec6db1.png)
Adding 'encoding='utf-8'' to the python's resource_tracker.py solves the issue for me.

[2020-11-24 20:33] mrbean-bremen commented on #570
The CI tests use MacOS 10.15.7 and Python 3.8.6 - maybe the code has changed from 3.8.5 to 3.8.6? I will check.

[2020-11-24 20:40] mrbean-bremen commented on #570
Nope, nothing substantially has changed...
Interesting about the encoding - can you actually check what kind of resource causes the problem? Maybe something with your local installatiion is different?

[2020-11-24 20:45] introkun commented on #570
No idea how to do that. 'print(line)' doesn't work with error 'ValueError: I/O operation on closed file.'

[2020-11-24 20:50] mrbean-bremen commented on #570
I see - locally I just don't get to this line, so I can't test it here. I currently don't have an idea how to proceed without being able to reproduce the problem, and I don't have more time today... I'll see if I can think of something - sorry I couldn't help.

[2020-11-25 12:26] FelixSchwarz opened #571 "pyfakefs >= 3.7 raises KeyError from os.scandir instead of FileNotFoundError"
This code raises a `KeyError` instead of a `FileNotFoundError` when using pyfakefs >= 3.7:

[code]
result:
[code]

pyfakefs < 3.7 did not raise any exception so I guess that was fixed by #498 (more specifically 4f237ea78f5f943d85414274cc4de96e1e70650f) but I'm not sure why that change does not work in my example.

**Your enviroment**

[code]

[2020-11-25 13:39] mrbean-bremen commented on #571
It actually raises `FileNotFoundError`, it just happens while handling the `KeyError` which is raised internally. You can check this by adding an exception handler around your test code.
I also find the message in the traceback a bit confusing. While it not incorrect, I find it misleading, because the actual exception that is propagated and which I'm interested in is further down in the message, i

[2020-11-25 15:39] FelixSchwarz commented on #571
That is really confusing, I got the ordering totally wrong (thought the `KeyError` happened while you were internally already handling the `FileNotFoundError`). Sorry for this.

[2020-11-25 15:39] #571 closed

[2020-11-25 16:51] mrbean-bremen commented on #571
No problem - as I said, I also find this confusing, and it is better to write an issue that turns out to be an non-issue, than missing a bug.

[2020-11-26 13:03] hard7 commented on #569
@mrbean-bremen, thanks, that was really fast! It would be great if you make a release with the fix.

[2020-11-26 13:43] mrbean-bremen commented on #570
I tried both under Linux and Windows (as I wrote - don't have a Mac), with tqdm under Python 3.8, and the resource tracker code didn't get called in both cases. As I have no idea why and how it is called in your case, I'm giving up for the moment. Let me know if you have some new information.

[2020-11-26 14:27] mrbean-bremen commented on #569
Ok, [done](https://pypi.org/project/pyfakefs/4.3.2/).

[2020-11-30 13:53] hard7 opened #572 "os.path.sep is not changed after switching fs.os to linux"
**Describe the bug**
I'm running tests under windows using `fs.os = OSType.LINUX`. I noticed that `os.path.sep` is not faked.

**How To Reproduce**
[code]
**Enviroment**

[code]

[2020-11-30 15:48] mrbean-bremen commented on #572
Thanks - good catch! The same is true for `os.sep`, `os.altsep`, and `os.path.altsep`. Changing the OS type does not reset them.

[2020-11-30 17:58] #572 closed

[2020-12-03 17:11] stephenfuqua opened #573 "_add_c_drive() failure when user does not have access to c:"
**Describe the bug**

When using pyfakefs 4.3.0 with pytest, the patcher's `setUp` function calls `_add_c_drive`. This works when I execute locally or on my build server when executed manually. It fails, however, when run by the build server using a service account. I *think* the problem is that the service account does not have access to read the `C:` drive. Side note: for these tests I actually

[2020-12-03 17:12] stephenfuqua commented on #573
I will try to make time to debug further and see if I can offer a patch. For now I've reverted to an older version.

[2020-12-03 20:36] mrbean-bremen commented on #573
Thanks - that was a kind of micro-optimization that probably was too fragile. I think I'll just revert that (Windows-specific) optimization, I didn't like it anyway. It will add a millisecond to the test setup under Windows, but I can check later if this can be optimized in a nicer way.

[2020-12-03 21:03] mrbean-bremen commented on #573
Please check if the current master works for you, and if you need a patch release.

[2020-12-04 19:12] stephenfuqua commented on #573
Yes, that works. Thank you.

_Test process_: I created a temporary build configuration in TeamCity so that I could closely replicate the original process. In this configuration wrote a small script that installs `pytest` and `pyfakefs` from the canonical sources and runs the sample above. As expected, execution failed. Then I modified the build configuration to clone this repository and install th

[2020-12-04 19:23] mrbean-bremen commented on #573
Thanks! I didn't add a regression test, as this was basically a revert, but had to ensure that it works in your use case.
Do you need a patch release with the fix?

[2020-12-04 19:27] stephenfuqua commented on #573
Patch release would be convenient, but it is not necessary. We can wait until the next one.

[2020-12-04 19:29] mrbean-bremen commented on #573
Ok, thanks - in this case I will wait if something else comes up, and probably make a patch in a couple of weeks.
Closing this as fixed.

[2020-12-04 19:29] #573 closed

[2020-12-07 15:16] hard7 opened #574 "Inserting bom between write calls with utf-16"
**Describe the bug**
I found that after doing `write()` a couple of times for a utf-16 file, `read` + `split` adds `BOM` inside.

**How To Reproduce**
[code]

**Your enviroment**
Please run the following and paste the output.
[code]

[2020-12-07 15:34] mrbean-bremen commented on #574
Interesting - thanks for the report, this is strange. In the real case, the BOM is written at the beginning, as it should be, but in the fake fs it is written _after_ the first write.  May have something to do with flushing...

[2020-12-07 19:02] mrbean-bremen commented on #574
Ok, note to self for reference: the BOM is written on each `write`, so there are actually 2 BOMs written in the example. While reading, the first BOM is discarded (as it should), the number characters are correctly converted from utf-16, but the second BOM remains as is, as it cannot be converted.

[2020-12-07 19:48] mrbean-bremen commented on #574
I have to think about it--this may take some time. The current implementation relies on the behavior of `BytesIO`, which in this case won't work; maybe `FileBufferIO` has to be rewritten...

[2020-12-12 20:19] #574 closed

[2020-12-13 12:37] mrbean-bremen commented on #574
This was actually a good thing to do. The code has been too complicated (this was needed for Python 2 compatibility), but can now be simplified, with only Python 3 supported. Please check if you find any problems with master.

[2020-12-20 15:52] mrbean-bremen commented on #573
The bugfix release is out now.

[2020-12-31 08:07] JD-Veiga opened #580 "Support for pathlib.Path.link_to()"
Python 3.8 has added a new method to pathlib library: `Path.link_to()` for creating hard links (https://docs.python.org/3/library/pathlib.html#pathlib.Path.link_to). I think that it is not supported by `pyfakefs` yet (v. 4.3.3).

It would be nice to mock this method since it is an easy way to create hard links.

Maybe it would be a good idea to include a `FakeFilesystem.create_link()` method for c

[2020-12-31 08:39] mrbean-bremen commented on #580
Good point, thank you!

[2020-12-31 15:17] #580 closed

[2020-12-31 15:22] mrbean-bremen commented on #580
@JD-Veiga - shall work in master now. Do you need a released version?

[2020-12-31 15:33] JD-Veiga commented on #580
Excellent and quick work! I have installed it from master. Thanks a lot. Happy new year!

[2020-12-31 16:27] mrbean-bremen commented on #580
Last sensible thing I did this year ;) Happy New Year to you, too!

[2021-01-02 17:00] JD-Veiga commented on #580
Hi,

Everything is running fine until I have updated one of the dependencies of my code this morning. The update has installed `pathlib2` and, tough I do not use directly it in my project, `pyfakefs` imports `pathlib2` now. As a consequence, `Path.link_to()` has vanished because of: https://github.com/jmcgeheeiv/pyfakefs/blob/846ec97c0efe2f819f883f26ae90247e4ea55aee/pyfakefs/fake_pathlib.py#L126

[2021-01-02 17:43] mrbean-bremen commented on #580
Ok, I had thought `pathlib2` is not used anymore (it is definitely not needed in Python 3.8). Making a separate accessor for `pathlib2` is probably not worth it. I could just remove the check for `pathlib2` and let it fail if you use `pathlib2` instead of `pathlib`.
This is probably the best option, because if you want to use `link_to`, you cannot use `pathlib2`, or you would get the same exceptio

[2021-01-02 17:57] JD-Veiga commented on #580
I think so now that Python2 is in EOL but... everything comes back... in subtle ways... Thank you once again.

[2021-01-02 18:24] mrbean-bremen commented on #580
Ok, done. Yeah, I see Python2 used still quite a bit... seems to be unkillable. Though using `pathlib2` with Python 3.8 really doesn't make much sense - `pathlib2` has stopped developing a couple of years ago, while `pathlib` is changing with each Python version.

[2021-01-09 14:17] nicolashainaux opened #581 "Tests fail with python3.8, latest version pulled from master (Linux Mint / Ubuntu)"
Hello,

Trying to update the (unofficial) Ubuntu 20.04 package on my PPA to a newer version, I got an error in the tests.
I reproduced it at home (Linux Mint), just running `python3.8 -m pytest`:
(NB I tried also with the 4.3.3 release (pointing git's HEAD to 3bc6f0c Release 4.3.3) and got the exact same output)
[code]

**Environment details**

[code]

[2021-01-09 16:27] mrbean-bremen commented on #581
Thank you - this passes in Ubuntu 18.04. This is what GH actions uses at the moment as Ubuntu-latest, but they will switch to 20.4 soon, so this will come up anyway... has to be some change in the pipe implementation.

[2021-01-09 17:49] mrbean-bremen commented on #581
Hm, with Ubuntu 20.04 the error does not occur in CI, didn't test Mint... maybe I misunderstood and you used a version newer than 20.04?

[2021-01-09 19:00] nicolashainaux commented on #581
No, this is 20.04. My Linux Mint at home is based on 20.04 (I checked again, this is sure) and the tests on Launchpad are run to build a focal package, so it must be on a 20.04 virtual machine too.

I used `git checkout` to travel through recent changes in history and found the exact commit that triggers the error, it's this one:

Now, this would be interesting to find out the exact difference tha

[2021-01-09 19:44] mrbean-bremen commented on #581
Thanks! [Here](https://github.com/mrbean-bremen/pyfakefs/runs/1674073599?check_suite_focus=true) is the build log of the GHActions build for comparison. It uses Ubuntu 20.04.1 and Python 3.8.6 (the pytest version doesn't matter, as pytest is not used for the failing test).

Yes, the test is a check for that commit that improves handling pipes. It partly relies on pipes in the real file system, so

[2021-01-09 21:57] nicolashainaux commented on #581
Well, I installed python 3.8.6 via `pyenv` (and the latest `pytest`), but the tests fail with the same error, plus a bunch of warnings. I am a bit stuck... Same python version but the tests fail on one machine and not another...

As to the pipe implementation, I don't know the details about this, but could that mean the linux kernel version could be of importance? (If so, my current local version

[2021-01-10 08:37] mrbean-bremen commented on #581
Thank you for the investigation, much appreciated! The warnings are unrelated, but I will have a look into them later (they belong to the pause/resume functionality) - good to know.
As for the pipe - I will try later to reproduce this in Ubunto 20.04 locally (currently working under Windows). As for now, I have no real idea. As I said, we use the real os pipe in this code, including the file descr

[2021-01-10 09:28] nicolashainaux commented on #581
No, I do not need the newest features. I will package from a commit that works (c8a0f0c).
If we find where the problem comes from, this would probably not help much, unfortunately, because I don't think I have any control over the software or kernel versions in the Launchpad VM, which is required to use in order to publish the package. This would mean wait and publish a newer python3-pyfakefs pack

[2021-01-10 09:42] mrbean-bremen commented on #581
Ok, sorry for all the confusion - nothing to do with the kernel version, but with the test framework! :no_mouth:
In the CI, the tests are run using `unittest`, but `python setup.py test` uses `pytest`. I had actually forgotten this... I had changed this myself some time ago because of some packaging issues.
So this even fails under Ubuntu 18.04 (which I still have installed, as it turns out). I st

[2021-01-10 09:47] mrbean-bremen commented on #581
I will probably just skip the test for now if it is run from pytest, as I suspect that this is actually a test problem.

[2021-01-10 11:25] mrbean-bremen commented on #581
Did this in master for the time being. I will check how to fix this properly later.
Replacing the pipe with a fake pipe would be one possibility, but this would probably break other code not related to the file system. While pipes are files, they do not belong to the file system, so I'm a bit undecided how to handle this best. There has been no real use case so far - the original issue that caused

[2021-01-10 13:04] mrbean-bremen commented on #581
Ok, this looks like a plain bug in pyfakefs now. Bit embarrasing - could have seen this earlier... The reason why it passes in unittest seems to be that the fake file descriptor is mapped to the same real file descriptor, while pytest opens some file on its own before the test, so the descriptors no longer match.

[2021-01-10 18:04] mrbean-bremen commented on #581
@nicolashainaux - the bug is fixed in master, and I have added `python setup.py test` [to the CI build](https://github.com/jmcgeheeiv/pyfakefs/runs/1677410260?check_suite_focus=true) to catch this kind of problems in the future. The warnings you have shown do not show up in the CI build, though.

[2021-01-11 12:10] mrbean-bremen commented on #581
Ok, after updating to Ubuntu 20.04.1 and installing Python 3.8.6 I still cannot reproduce the warnings, so I'm going to ignore them for now, as they also don't show up in CI. Closing this as fixed - feel free to reopen it if needed. Thanks again for the report!

[2021-01-11 12:10] #581 closed

[2021-01-11 18:30] nicolashainaux commented on #581
Many thanks for investigating this so quickly and efficiently :+1: and the warnings are gone, too.
I should be able to package a newer version, then.

[2021-01-18 18:14] mrbean-bremen commented on #566
Well, I think we are not going to do anything else here. In principle, a `pytest-fs` plugin could make sense, but at this stage it would be too disruptive to remove the `fs` from pyfakefs, and it does not make much sense to duplicate the functionality. I'm closing this issue now.

[2021-01-18 18:14] #566 closed

[2021-02-02 23:40] satwell opened #584 "pathlib.Path.readlink not implemented"
**Describe the bug**
Python 3.9 added a [`readlink()`](https://docs.python.org/3.9/library/pathlib.html#pathlib.Path.readlink) method to `pathlib.Path`.  Trying to use this method with pyfakefs raises an `AttributeError`.

**How To Reproduce**
[code]
This will raise an exception like this:
[code]

**Your environment**
[code]

[2021-02-03 06:38] mrbean-bremen commented on #584
Thanks - missed that one!

[2021-02-03 16:27] ArminGruner opened #585 "os.access() is not properly faked, wrong signature since python3.3"
**Describe the bug**
Signature of os.access() (since Python3.3) is:

_os.access = access(path, mode, *, dir_fd=None, effective_ids=False, follow_symlinks=True)_

If some code uses the "effective_ids" feature, it does not work when using pyfakefs because the "os.access" function in fake_filesystem.py::FakeOsModule::access() does not match the signature:

_def access(self, path, mode, *, dir_fd=None

[2021-02-03 17:39] mrbean-bremen commented on #585
Good point. I'll probably just add the argument for now, without it having an effect, as we don't really support guid/uid permissions (apart from uid 0 being root). Do you need to have it any functionality?

[2021-02-03 18:04] ArminGruner commented on #585
Hi, thanks for the instant reply.

I think it's fine to just accept the argument, but not switching test behaviour!

I was just discovering the mismatch when testing a function decorated with ``pidfile`` from the ``pid`` python package (https://github.com/trbs/pid/).

[2021-02-03 18:10] mrbean-bremen commented on #585
Ok, thanks - will do this in this case in a moment.

[2021-02-03 18:12] #585 closed

[2021-02-03 18:12] mrbean-bremen commented on #585
Should work now in master.

[2021-02-03 18:20] ArminGruner commented on #585
Thanks for the fix! I confirm that using  _master_ from github works for me now!

[2021-02-03 18:42] mrbean-bremen commented on #585
Can you live with master, or do you need a patch release?

[2021-02-03 19:09] ArminGruner commented on #585
Hi, thanks for asking!
I'm fine waiting for any release train.
I've pinned the commit hash in my _tox.ini_ ;-)

[2021-02-03 19:34] #584 closed

[2021-02-03 19:42] mrbean-bremen commented on #584
Should work now in master, please check.

[2021-02-04 04:45] satwell commented on #584
readlink works for me in master now, thanks!

[2021-02-24 15:38] jacobbogdanov opened #588 "os.path.isfile incorrect result for file without read permissions."
**Describe the bug**
under `pyfakefs` `os.path.isfile` (and `pathlib.Path.is_file`) return `False` for a file without read permissions set, while the original implementation returns `True`.

**How To Reproduce**

[code]
[code]

**Your environment**
[code]
and
[code]

[2021-02-24 16:17] mrbean-bremen commented on #588
Thanks - I will have a look!

[2021-02-24 19:17] #588 closed

[2021-02-24 19:19] mrbean-bremen commented on #588
Should be fixed now in master - please check!
Do you need a new release?

[2021-02-24 19:44] jacobbogdanov commented on #588
Thanks for the speedy fix!

A new release would be awesome

[2021-02-24 20:43] mrbean-bremen commented on #588
Ok, [done](https://pypi.org/project/pyfakefs/4.4.0/).

[2021-03-05 18:16] mrbean-bremen opened #590 "Move to pytest-dev organization"
As discussed with @jmcgeheeiv, it would be a good idea to transfer this repo to the pytest-dev organization. This would help to ensure continued maintenance, and also possibly to get more eyes for issues and code reviews (given enough eyeballs...).

While pyfakefs is not only a pytest plugin, as it can also be used with other test frameworks, pytest-dev seems like a good match, as the majority of

[2021-03-11 18:26] jmcgeheeiv commented on #590
I also offer domain `pyfakefs.org` to the PyTest community.

If you do not care for it I will continue to maintain it and point it to the right location for a few years at least.

[2021-03-11 18:40] mrbean-bremen commented on #590
Unfortunately, it turned out that pyfakefs seems not really to fit into `pytest-dev`.
There has been a couple of suggestions for another organization: [PyCQA](https://meta.pycqa.org/en/latest/), which I don't think will fit, as it is almost exclusively about linting tools, and a new organization [cogs-of-testing](https://github.com/cogs-of-testing), which was meant to be about testing, but is stil

[2021-03-11 19:11] jmcgeheeiv commented on #590
I think it was a good idea to propose it. If the other organizations do not care for pyfakefs, that is their prerogative.

[2021-03-23 06:17] mrbean-bremen commented on #590
Closing this for now.

[2021-04-04 16:32] JD-Veiga opened #592 "New Python 3.9's is_relative_to(), readlink() and with_stem() methods not ported yet"
Hi,

I have noticed that the new Python 3.9's `is_relative_to()`, `readlink()` and `with_stem()` methods have not been ported to pyfakefs yet.

Just in case. I really know that following the pace of Python's new features has been increasingly difficult.

Thank you.

[2021-04-04 17:26] mrbean-bremen commented on #592
Thanks - actually, `readlink` support has been added in version 4.4.0, and both `is_relative_to` and `with_stem` should work out of the box, as they are `PurePath` implementations (`is_relative_to` is also tested).
Are you testing with the latest pyfakefs version, and if yes, can you please show an example that is not working?

[2021-04-04 17:52] JD-Veiga commented on #592
I am running pyfakefs 4.4.0 with Python 3.9.3 (on macos 10.14.6).

If I run:

[code]

I get the message:
[code]

[2021-04-04 18:06] JD-Veiga commented on #592
Test for `is_relative_to()`, `with_stem()`, and `readlink()`:

[code]

that prints:

[code]

I hope that it can help you.

[2021-04-04 18:31] mrbean-bremen commented on #592
Thank you, I will have a look!

[2021-04-04 19:03] mrbean-bremen commented on #592
I could not reproduce this. I added your test (`ExampleTestCase`) to the CI build, and it [passed](https://github.com/mrbean-bremen/pyfakefs/runs/2265495867?check_suite_focus=true#logs) for all systems (including MacOS). While this is in master, there haven't been any changes since the last release, so I'm not sure what causes the problem for you... The CI build runs with Python 3.9.2, locally I h

[2021-04-04 21:15] JD-Veiga commented on #592
I think that this issue could be related to `pathlib2` (as it was when you added support `link_to()` method -- see: https://github.com/jmcgeheeiv/pyfakefs/commit/20ed320011d700fe399b0a34185eb9866623a7ac and https://github.com/jmcgeheeiv/pyfakefs/issues/580#issuecomment-753506898).

After uninstalling `pathlib2` from my system, tests pass without problem.

Unfortunately, `pathlib2` seems to be requ

[2021-04-05 07:11] mrbean-bremen commented on #592
I see... I have been thinking about `pathlib2`, but I thought that this could not be the problem - I was wrong, obviously.
If `pathlib2` is used in the usual manner (e.g. `import pathlib2 as pathlib`), these methods should not work, as `pathlib2` does not implement them (`pathlib2` is no longer developed after `Python2` went EOL), and this is what `pyfakefs` assumes. If it is installed but not use

[2021-04-05 08:23] JD-Veiga commented on #592
I am using latest version (WxPython 4.1.1).

I imagine that WxPython or pip install `pathlib2` as a dependency by default or as long as you have a Python 2 in your system (and Python 2 is still in my system because some packages still use it --which it is a burden, I must say).

And, as you stated, `pyfakefs` imports `pathlib2` even if it is not used. Can this be solved by checking Python version

[2021-04-05 10:12] mrbean-bremen commented on #592
Thank you! I'm seriously considering to remove `pathlib2` support, as I see no real benefit. `wxPython` uses it only for Python 2, and I would consider using it for a Python version >= 3.6 a bug, as it would remove functionality from `pathlib`.
Checking the Python version also does not make much sense, as we only support Python versions where `pathlib2` is not needed.

[2021-04-05 10:42] JD-Veiga commented on #592
Thank you for your help, @mrbean-bremen. It is always a pleasure speaking with you.

[2021-04-05 10:42] #592 closed

[2021-04-05 13:49] mrbean-bremen commented on #592
@JD-Veiga - I did not remove `pathlib2` support completely, but it is not imported as `pathlib` anymore, so it should work for you now. If you can, please check if current master works for you.

[2021-04-05 15:56] JD-Veiga commented on #592
It works fine. Thanks again.

[2021-05-11 17:53] Wenzel opened #595 "No such file or directory in the fake filesystem: b'/tmp'"
**Describe the bug**

pyfakefs complains that `/tmp` directory does not exists, despite the [docs stating](https://jmcgeheeiv.github.io/pyfakefs/release/usage.html#os-temporary-directories) that "_This means that any newly created fake file system will always have either a directory named /tmp when running on Linux or Unix systems_"

**How To Reproduce**
Please have a look at this small repo:
http

[2021-05-11 19:07] Wenzel commented on #595
The problem comes from [exists()](https://github.com/jmcgeheeiv/pyfakefs/blob/15c35223be9de732c7cb8101e41b5c58bd8d781b/pyfakefs/fake_filesystem.py#L1770) which cannot handle a `bytes` filepath:

[code]

[2021-05-11 19:40] mrbean-bremen commented on #595
Ah, thank you - that is helpful! Handling of `str` vs `bytes` is something that I have addressed in most places (hopefully), but obviously not all. I will have a look somewhere in the next days, thanks!

[2021-05-13 17:11] mrbean-bremen opened #596 "Docker tests broken"
With the latest PR, all of the docker tests didn't run because the setup failed with something like:
[code]
The docker tests will be disabled until this issue is resolved.

[2021-05-13 19:18] #595 closed

[2021-05-13 19:23] mrbean-bremen commented on #596
Works as before, shall be sufficient to have docker test on pull.

[2021-05-13 19:23] #596 closed

[2021-05-13 19:25] mrbean-bremen commented on #595
@Wenzel - shall be fixed now in master, please check!

[2021-05-14 08:33] Wenzel commented on #595
@mrbean-bremen thank you for the quick fix, I confirmed the issue is solved !
Thank you very much for the support.

[2021-05-14 08:34] mrbean-bremen commented on #595
Thanks - you are welcome!

[2021-05-16 21:52] AustinScola opened #599 "Type annotations?"
I'm trying to use pyfakefs on a project that uses mypy for static type checking. It appears that pyfakefs does not have type annotations. I'm wondering if there are any plans for this? Also, I would be happy to help contribute!

[2021-05-17 06:01] mrbean-bremen commented on #599
I have been thinking about this after dropping support for 2.7, but didn't get to it yet.
If you want to have a go, please go ahead - we always appreciate contributions!

[2021-05-17 13:22] adamtheturtle opened #600 "AttributeError: type object 'Path' has no attribute '_flavour' - error seen when using Click 8"
**Describe the bug**

In Click 8, a new feature was introduced, enabling users to use `pathlib.Path` as
a type for arguments.

This indirectly uses the `_flavour` attribute of `Path`.
This errors when I use PyFakeFS.

I get the following error:

[code]

I believe that this may be related to https://bugs.python.org/issue24132.

**How To Reproduce**

**Realistic use case**

[code]

**Narrow use case

[2021-05-17 17:19] mrbean-bremen commented on #600
Thanks for the report! I had a first look, and I'm not sure yet what to do in this case.

As `pathlib.Path` is read in the decorator at load time, it will not be patched, as it is already cached at patch time. Usually, [reloading](http://jmcgeheeiv.github.io/pyfakefs/release/usage.html#modules-to-reload) the module in question helps to fix that, but in this case, it doesn't - the `click` module st

[2021-05-17 17:27] adamtheturtle commented on #600
@mrbean-bremen - Thanks so much for the quick response! I really appreciate the project and your work on it. Workarounds / anything like that are welcome if any come to mind.

[2021-05-17 19:07] mrbean-bremen commented on #600
Sorry, didn't get anywhere - I need to have a look at this someday with a fresh eye.

[2021-05-17 19:31] adamtheturtle commented on #600
No need to be sorry!

[2021-05-23 08:10] mrbean-bremen commented on #600
Ok, now with a fresh brain I can see that I obviously did a mistake last time I checked this. Sorry it took so long, looks like I needed the weekend to clear by head...

The problem is, as stated above, that the decorator is evaluated at load time, before the patcher had a chance to patch it. The only way to work around this is to reload the module during the test, so that the decorator will be re

[2021-05-23 08:37] mrbean-bremen commented on #478
Getting back to this, I now think that the correct way to resolve this would be to reload the sut module during the test (for example using `modules_to_reload` in the test setup), as this is the only way that ensures that the code that is read at load time is correctly patched -- see the [documentation](http://jmcgeheeiv.github.io/pyfakefs/release/usage.html#pytest) for how to do this with `pytest

[2021-05-23 08:40] mrbean-bremen commented on #478
@jmcgeheeiv - instead of closing the issue, I would like to to convert this (and other issues that may be helpful) into a Q/A discussion issue. If you agree, could you enable discussions in the pyfakefs configuration?

[2021-05-23 09:25] adamtheturtle commented on #600
@mrbean-bremen - No need to apologise, and thank you for your time and thought. I'm happy to work around this and I appreciate your work. I'll leave the choice of whether to close this to you.

[2021-05-23 09:38] mrbean-bremen commented on #600
If the repo maintainer enables discussions, I will convert this into a Q/A discussion issue, as it may help others.

[2021-05-23 18:48] jmcgeheeiv commented on #478
Great idea, @mrbean-bremen. Done.

[2021-05-23 19:00] #478 closed

[2021-05-23 19:01] #600 closed

[2021-06-02 11:52] hg-bauerc opened #606 "Problem with directory by UNC path"
When creating a directory by UNC path (like //host/share/dir) at least two functions on this path (or FS object) fail:
- os.stat
- Path.is_dir

[code]

[code]

Env:
Windows-10-10.0.19041-SP0
Python 3.8.7 (tags/v3.8.7:6503f05, Dec 21 2020, 17:59:51) [MSC v.1928 64 bit (AMD64)]
pyfakefs 4.4.0

[2021-06-02 13:34] mrbean-bremen commented on #606
Thanks for the report - looks like UNC path handling is missing in some function.

[2021-06-03 17:32] #606 closed

[2021-06-03 17:33] mrbean-bremen commented on #606
@hg-bauerc - should be fixed in master now, please check if it works for you.

[2021-06-04 10:51] hg-bauerc commented on #606
Yes, works for me. Thank you!

[2021-06-04 22:46] kloczek opened #608 "4.5.0: pytest is failing"
In the same build enf 4.5.0 is failing on units:
[code]
4.4.0:
[code]
Full pytest ouput with build env details:
[code]

[2021-06-05 07:13] mrbean-bremen commented on #608
Looks like the test environment has a lower timestamp resolution than usual under Linux - the tests assume millsecond resolution, and this works on all systems tested in CI (latest Ubuntu,  CentOS, Debian and Fedora). What system are you running the tests on?

[2021-06-05 07:17] mrbean-bremen commented on #608
Also, is this some distribution you are assembling, or are you running the tests as part of some setup?

[2021-06-05 08:20] kloczek commented on #608
I'm using my own distribution ana ll python stuff is packaged by me. I've started from Fedora rawhide but all python related resources are build by me. At the moment I'm still on python 3.8.9 byt next week I'll try to jumstart everything om python 3.9.2 making another iteration of cleanups of all python packages (because packaking +450 python packages in last ~3 months I've learned mamy, many new

[2021-06-05 08:39] mrbean-bremen commented on #608
Ok, I'm still not sure what's different in your system to cause that (I doubt that the time resolution is worse than 1 ms), but I will see if the tests can be changed to be more forgiving in this case. This is only a problem of the tests, not the production code, as far as I can see.

[2021-06-05 16:13] kloczek commented on #608
FYI that test is executed on the box with 2 x Intel(R) Xeon(R) Silver 4116 CPU @ 2.10GHz with total 24 cores and 128GB RAM.

If you want me do any additional diagnostics please just let me know what to do and I'll try to do that ASAP :)

[2021-06-05 18:05] mrbean-bremen commented on #608
Thanks - I just added a minor change that shall work with a low timer resolution, if that is indeed the problem. I'm still doubting it, but couldn't find another explanation. It would be helpful if you could check with current master.

[2021-06-05 19:31] kloczek commented on #608
Justy added to my spec file 4bf5a4a4 and hre is th eresult (still one pytestunit  is failing).
In mean timime I found that some of the errors are reported wben `flakuy is installe.
So here is result without flaky:
[code]
And one more time with installed flaky:
[code]

[2021-06-05 19:42] mrbean-bremen commented on #608
Ok, thanks - I didn't know that flaky causes this kind of problems, do you have a link for that (just out of interest)?
The other failing test is also time-related, though I also don't understand that yet. I will probably have another look tomorrow, don't have more time today.

[2021-06-06 15:57] mrbean-bremen commented on #608
I refactored the timing-related tests a bit to use a standard mock. I'm not quite happy with it yet, but it would help if you checked the outcome with current master again and see if something has changed.

[2021-06-06 18:11] kloczek commented on #608
Please hold all changes around testing methodology.
Looks like this effect is random.
I have installed randomisation pytest plugin so each pytest execution executes all units in random order.
I think that 1/3 of all test executions is with different failing units and 2/3 are with all units OK.
Until we will not figure out why it happens introducing new patches IMO may not have to much sense.

[2021-06-06 18:17] kloczek commented on #608
Few examples with fails
[code]
[code]
[code]
[code]

[2021-06-06 18:27] kloczek commented on #608
Another test showing that this is random effect
[code]

[2021-06-06 18:40] mrbean-bremen commented on #608
It is definitely a test dependency. I'm just running `pytest` with `pytest-find-dependencies`, and it has found a few failing dependent tests. It is still running (it will take a while to find the actual dependencies), but now I can reproduce the problem. Could have seen this earlier, just didn't pay attention to the not-failing tests...

[2021-06-06 18:50] kloczek commented on #608
Good that this effect is somehow reproduceable and we cannot blame what I have in my dev env. As I still have to clean about 60 python packages from Fedora rawhide (in total ~450) so I was not 100% sure of my results :/
Bad that it is still not known cause ..

[2021-06-06 20:00] mrbean-bremen commented on #608
I will try to understand and fix this somewhere in the next days (bit short on time at the moment). It is obviously a problem with the tests and not with the production code, and happens only with `pytest-randomly` or similar installed. It won't normally be a problem - but dependent tests are always a smell, so I will try to fix this. If that is a problem for your tests, you may run them using `-p

[2021-06-07 07:50] kloczek commented on #608
NO I don't need to disable randomisation because now I'm running pytest is env where I have Everything™️.
Final build of my packages is always done in dedicated build env in which will be installed only those packages which are listed in BuildRequires so in such env will be guaranteed that it will be now randomisation.
I've packaged pytest randomiser only few days ago and now I'm considering to ma

[2021-06-07 07:56] kloczek commented on #608
BTW IMO you should keep in mind that those random results could be as well results of some bugs in pytests of some pytests extensions. Longer time will be not possible to find explanation of the observed behaviour than probability tat cause maybe outside pyfakefs should be growing.
So please keep in mind that scenario as well ..

[2021-06-07 11:00] mrbean-bremen commented on #608
Pytest and tox do not exclude each other. Tox is a higher level tool and is used by pytest extensions to run the tests in different Python environments and with different pytest versions, but the tests are still run using pytest, just driven by tox.

[2021-06-07 16:00] AustinScola opened #609 "pylint complains about `fs` fixture name"
I'm using the pytest `pyfakefs` fixture in a project. The project is linted with `pylint`. `pylint` warns `C0103: Argument name "fs" doesn't conform to snake_case naming style (invalid-name)`. I know that I could add `fs` to the list of `good-names` for `pylint`, but I would prefer not to do that because then the name would be accepted everywhere. I could also add `# pylint: disable=invalid-name`

[2021-06-07 18:10] mrbean-bremen commented on #609
Hm, `fs` is indeed a bit short, but it's also handy and it's quite clear that it stands for `file system`. I want to avoid polluting the fixture namespace with aliases that cannot be disabled, so I think the way to go here is to define your own fixture:

**conftest.py**
[code]
and use `fake_filesystem` everywhere else. We _could_ add this as a default, but at the moment I'm more inclined not to do

[2021-06-07 18:36] jmcgeheeiv commented on #609
I like @mrbean-bremen's workaround. We could add it to our pytest template so we avoid polluting the namespace, yet everybody sees it and can use it to avoid the PyLint issue if they like.

[2021-06-07 21:38] AustinScola commented on #609
I like @mrbean-bremen's workaround too. Not polluting the namespace sounds like a good reason. Thanks for the suggestion!

As a side note, something else I thought of is that there might be some weird behavior if both the `fs` and `fake_filesystem` fixtures are used in the same unit test?

[2021-06-08 05:05] mrbean-bremen commented on #609
No, they will both point to the same fake fs and can be used interchangeably:
[code]

[2021-06-08 20:39] mrbean-bremen commented on #608
@kloczek - I found another problem that caused a test dependency, fixed in master. If you find the time to run the test again, I would be interested if anything has changed.

[2021-06-10 15:18] mrbean-bremen commented on #609
I'm converting this into a discussion Q/A issue.

[2021-06-10 15:18] #609 closed

[2021-06-10 15:29] mrbean-bremen commented on #608
For reference - this was what I got before the latest change:
[code]
So, at least locally (under Windows), the only problem was in `test_utime_sets_current_time_if_args_is_none_with_floats`. This was after the reafctoring I made before. After the latest change I don't get any dependencies.

[2021-06-13 10:09] mrbean-bremen commented on #608
The test dependencies have been resolved, and a CI steo has been added to ensure this.
Closing the issue.

[2021-06-13 10:09] #608 closed

[2021-06-14 18:28] mrbean-bremen commented on #570
@introkun - did you get anywhere with this problem? I'm inclined to close the issue if we have no way to reproduce it.

[2021-06-17 01:40] patrickdemers6 opened #614 "Pandas Deprecation Warning"
**Describe the bug**
Deprecation warnings are generated for Pandas current usage of the pandas API.

[code]

**How To Reproduce**
A sample unit test case to generate this error message:

[code]

**Your environment**
* Linux-5.4.0-73-generic-x86_64-with-elementary-5.1.7-hera
* Python 3.6.9 (default, Jan 26 2021, 15:33:00) GCC 8.4.0
* pyfakefs 4.5.0
* pandas 1.2.4

[2021-06-23 14:52] mrbean-bremen commented on #614
Sorry, missed this issue for some reason... thanks for the report!
We do not use the deprecated API, as far as I can see. This seems to be a side effect of inspecting the loaded module - we have to deprecate any warnings. I thought we already did this, but obviously we do this not everywhere where needed.

[2021-06-24 14:16] #614 closed

[2021-06-24 14:17] mrbean-bremen commented on #614
@patrickdemers6 - shall be fixed in master now, please check!

[2021-06-24 23:26] patrickdemers6 commented on #614
I'm sure it's great! Is there an easy way to use the latest version in my project when a release hasn't been created?

[2021-06-25 05:07] mrbean-bremen commented on #614
You can [install it from source](http://jmcgeheeiv.github.io/pyfakefs/master/intro.html#installation):
[code]

[2021-06-26 10:05] mrbean-bremen commented on #570
Closing as not reproducible for now - feel free to reopen if you have more information.

[2021-06-26 10:05] #570 closed

[2021-06-26 16:29] patrickdemers6 commented on #614
I can confirm there aren't any warnings shown when running my test. Thanks for resolving this so quickly!

[2021-07-09 11:00] AustinScola commented on #599
@mrbean-bremen looks like you have added more type annotations! At what point do you think that it makes sense to include a `py.typed` file?

[2021-07-09 14:58] mrbean-bremen commented on #599
If we puy that in, it would just check the annotated modules, correct? In this case we could do it now - I have to admit that I wasn't aware that this is needed for mypy.
I have annotated the `fake_filesystem` module, and certainly will add `fake_filesystem_unittests` as it contains part of the API. I'm not sure about the other modules which just implement the respective Python modules (`pathlib`,

[2021-07-10 16:42] AustinScola commented on #599
Yes, I think it would treat anything that is not annotated as `Any`. The downside of this is that users might think that everything is typed, and then be surprised that some type errors are not caught. The upside though is that there is at least some level of safety for what currently is typed.

[2021-07-11 19:44] mrbean-bremen commented on #599
Agreed. I think we will not publish a new release until the relevant modules are typed, so this will probably not be a problem. This may take a while, as I'm working on this only every now and then, but I think there is no rush.

[2021-07-26 13:54] yarikoptic opened #623 "2 tests fails on elderly python 3.6 (ubuntu 18.04)"
**Describe the bug**

I was trying to build backports of debian package (only 4.3.3 ATM in Debian) for NeuroDebian and whenever it built/tested on newer systems just fine, I ran into two tests fails on ubuntu 18.04

[code]

Just didn't want to stay silent ...

**How To Reproduce**

can try to provide a reproducer if needed. most likely in a docker container, .e.g `docker run -it --rm neurodebian:n

[2021-07-26 18:05] mrbean-bremen commented on #623
Thanks for the report and PR! I dimly remember this kind of errors - I think they had to do with the encoding set in the Docker container. I will try to find the related issue before merging the PR that skips the tests.

[2021-07-26 18:24] mrbean-bremen commented on #623
Found it. From a private conersation with the maintainer:

This has been fixed by adding an encoding to the docker container in PR #456.

This is probably not an option in your case, though I'll wait for your opinion on that. Note that this does not depend on the Python version, just on the installed locale, so skipping it for a specific Python version is probably not the corrrect way to handle th

[2021-07-26 19:54] yarikoptic commented on #623
well -- for myself I "addressed" the issue by skipping just to get that package built.
Setting locales might indeed be trickier or not sufficient unless I also install locales etc. IMHO since 3.6 is soon (end of this year IIRC) to be gone anyways, I would not sweat too much about it (e.g. condition in addition on the locales etc) and just skip it one way (as in the #624) or with some extra care (l

[2021-07-27 04:45] mrbean-bremen commented on #623
Thanks for the suggestion. Actually, we run most of the tests both in pyfakefs and in the real fs (at least in the CI tests), so I know from that previous occurrence that these tests also fail in the real fs (I omitted that part of the conversation). I will probably go with just ignoring the exception in the test if it occurs (skip the test in this case).

[2021-07-27 15:56] mrbean-bremen commented on #623
@yarikoptic -  I added a PR that does just that (skip the test if the exception occurs), you may have a look to check if this would be ok.

[2021-07-27 17:47] #623 closed

[2021-08-04 13:32] lieryan opened #627 "Don't import pandas"
pandas is really slow to import, importing this library can add seconds to a program's startup time, which can be critical for unittest and CLI programs that needs fast startup time.

To reproduce:

1. Setup new virtualenv (optional)
1. Install pandas and pyfakefs into your virtualenv
1. Time `python -c "import pyfakefs.fakefilesysem_unittest"`
1. Compare timing with another virtualenv where `pand

[2021-08-04 17:21] mrbean-bremen commented on #627
Good point! The import of `pandas` happens to be able to patch some `pandas` functionality, which is done by default if pandas is installed. However, there is a possibility to avoid this (using `use_known_patches=False`), and in this case, there is no need for the import - I can fix this by using a local import only for the patch case.

[2021-08-04 17:33] mrbean-bremen commented on #627
Please check in current master with `use_known_patches=False`.

[2021-08-10 12:48] mrbean-bremen commented on #627
Closing as fixed. Please reopen if you still have issues.

[2021-08-10 12:48] #627 closed

[2021-08-23 19:39] saxocellphone opened #629 "AttributeError: '_FakeAccessor' object has no attribute 'owner'"
**Describe the bug**
Getting `E   AttributeError: '_FakeAccessor' object has no attribute 'owner'` when running with pytest. More specifically, happens in this function in pathlib.py

[code]

**How To Reproduce**
Run a pytest with code containing this line
[code]
I have tried running on python 3.9.6, python 3.6.14. It works with the ladder, but not the former.

macOS-10.16-x86_64-i386-64bit
Python

[2021-08-27 10:07] nicolashainaux opened #631 "RecursionError implying pyfakefs inside a Pause(fs)"
I'm not completely sure this is a bug, but this is troubling enough to open this issue and I hope this is possible to further investigate it.

Context is: at the end of a test, I want to operate on real files to put things back like they were before the test (the test is on a sqlite3 database that needs to be "reset" for the next time).

So, I use the `Pause` context manager, this way:

    with P

[2021-08-28 14:58] nicolashainaux commented on #631
Unfortunately, the code I have is not too simple. Having nothing better, I can still show you the code of the test (maybe there's something obviously wrong that you would recognize at first sight??).

Before that, I could find out a little something more. There's another test in my tests suite, namely `test_idb_creation`, where I use almost the same block (with a `copy2` inside a `Pause(fs)`). Thi

[2021-08-28 15:16] mrbean-bremen commented on #631
Thank you for investigating this - the problem seems to be the `mock_open` call together with the `fs` fixture.
I can reproduce the problem now if I just do:
[code]
I haven't tried this before. It looks like the `fs` fixture is not correctly shut down in this case - I will see what I can find out.

[2021-08-28 16:48] mrbean-bremen commented on #631
I haven't checked for the cause yet, but in case you need to get it to work before it gets fixed (or I can't fix it), there seems to be an easy workaround: reverse the order of the fixtures, e.g.:
[code]
The problem has probably to do with the fact that in the first case, `mock_open` does not mock the original `open`, but the patched `open`, and sets it back to that on exit (probably after `fs` ha

[2021-08-28 19:00] nicolashainaux commented on #631
Great! Using `fs, mocker` does indeed solve the case!
On another hand, I will follow your advice and create a fake file via `fs.create_file()` anywhere it's possible, instead of patching `open`. This looks more flexible, and less complicated. Many thanks!!

[2021-08-29 17:43] mrbean-bremen commented on #631
Ok, I found more problems with `mock_open` if using `pyfakefs`. The problem is that `open` may be used during the `pyfakefs` initialization, and if it is mocked at that point, some things will go awry. Fixing this would be difficult and error-prone, I think, so I will probably just add a bit of documentation that states that as a limitation and shows how to work around it.

[2021-08-29 19:22] nicolashainaux commented on #631
Good! I've changed my code and the workaround works perfectly fine and is really not complicated! I think the issue can be closed.

[2021-08-29 19:23] mrbean-bremen commented on #631
Ok, thanks! Closing the issue in this case.

[2021-08-29 19:23] #631 closed

[2021-09-01 02:06] c1728p9 opened #632 "Behavior difference for os.path.split"
**Describe the bug**
On windows, the function python version of `os.path.split` does not convert path separators, while the pyfakefs version does. Is this intentional or is this a bug?

**How To Reproduce**

[code]

[code]

**Your environment**

[code]

[2021-09-01 06:07] mrbean-bremen commented on #632
Thanks - no, that is not intentional.

[2021-09-01 18:31] #632 closed

[2021-09-01 18:32] mrbean-bremen commented on #632
Shall be fixed in master now, please check!

[2021-09-05 16:56] c1728p9 commented on #632
@c1728p9 I gave this a try today with the tip of master (e06472b0671d2f077cc41e9ab9cf38893ef0c97f) and can confirm that this fixes the problem I was seeing. Thanks for the quick fix!

[2021-09-23 11:38] gsnedders opened #638 "(Optionally?) randomize arbitrary orders (e.g. listdir)"
**Is your feature request related to a problem? Please describe.**
This sorta is related to https://github.com/jmcgeheeiv/pyfakefs/issues/151; note that at this point on CPython 3.6 and Python 3.7+ we _are_ using an ordered dictionary type, given `dict` is now ordered.

But, in short, I would like to be able to test that my code doesn't rely on ordering returned by listdir.

**Describe the solutio

[2021-09-23 12:40] mrbean-bremen commented on #638
`listdir` doesn't do any ordering in pyfakefs - it makes a list from `keys()`, which is a set-like object, but I guess the order would still be the same in subsequent calls. So shuffling the result would slightly decrease the performance, but given that `listdir` won't be used too often that shouldn't really matter.
If a test depends on the order of the result of `listdir` it is a problem with the

[2021-10-01 18:48] mrbean-bremen commented on #638
Closing as fixed - feel free to reopen if this is not what you need.

[2021-10-01 18:48] #638 closed

[2021-10-19 20:38] nicolashainaux opened #642 "Cannot trigger a permission error, depending on the host OS (Linux)"
**Bug description**
I need to trigger a PermissionError (for testing purposes). If I remove writing rights from a directory, trying to copy a file into that directory does trigger a PermissionError.
But this fails on a GitLab CI runner (Docker image: ubuntu:focal):

        h1 = fs.create_dir('/home1/')
        Path(h1.path).chmod(0o000)
        fs.create_dir('/drive1/')
        nt = fs.create_fil

[2021-10-20 05:03] #642 closed, assigned to nobody

[2021-10-26 08:37] nicolashainaux opened #643 "PermissionError raised, yet uncaught"
**Describe the bug**
Trying to move a file to a directory without write permissions does raise a PermissionError (as expected) that cannot be caught (unexpected).

I'm puzzled about this, but cannot find out where I possibly could have wrongly written the tests, nor can I figure out how to get to catch the exception and why it does not get caught. I notice there's another exception raised "in the

[2021-10-30 10:40] mrbean-bremen commented on #643
@nicolashainaux - please check if the master branch works for you now.

[2021-11-01 09:04] Wenzel opened #645 "pyfakefs conflicts with fasteners on file locking: bad file descriptor"
**Describe the bug**
While working on my library based on [apache-libcloud](https://libcloud.apache.org/), I used the `local` provider to use the filesystem as an object storage.

While I wanted to mix this with **pyfakefs** in my unit test, this resulted in a bad file descriptor error in the test teadown, with a potential conflict between the [fasteners](https://github.com/harlowja/fasteners) lib

[2021-11-01 18:53] mrbean-bremen commented on #645
Thank you for the report! This does not look like an easy one. From your callstack I can see that fasteners use `fcntl` functions, which are not mocked. These work on file descriptors, and the descriptor it gets is from the fake filesystem, so it fails. I guess on your local file system it works because the descriptor is also valid in the local file system (this depends on the number of open files

[2021-11-01 23:05] Wenzel commented on #645
Thank you for the prompt response !

On my side, I managed to comment some code in my test suite, and the bug doesn't trigger anymore, so that's a workaround for now.

No worries, take your time to get a good understanding of the issue, and how to apply a fix, I'm not in a hurry.

I love pyfakefs, i've built my test suite on top of it, and it's just awesome :slightly_smiling_face:

[2021-11-02 05:57] mrbean-bremen commented on #645
Thank you 😄

[2021-11-02 09:28] nicolashainaux commented on #643
Yes, it works! Thanks a lot!
I close the issue, as it seems solved.

[code]

[2021-11-02 09:28] #643 closed

[2021-11-06 09:38] mrbean-bremen commented on #645
@Wenzel - I decided to make the minimum solution by just patching away the `fcntl` functions for now, as I'm not sure which part shall be emulated, if any. Your test works with the patch (I forked your repo and pointed it to the branch with the change), if that example passing is sufficient for you I would merge the PR.

[2021-11-07 14:08] Wenzel commented on #645
@mrbean-bremen I confirm that the fix works on my project in Github Actions. :slightly_smiling_face:
Thanks you very much for your efforts :100: :exclamation:

[2021-11-07 14:47] mrbean-bremen commented on #645
Good to hear! Fixed in master, closing.
Do you need a patch release, ot can you work with master for the time being?

[2021-11-07 14:47] #645 closed

[2021-11-07 16:32] Wenzel commented on #645
@mrbean-bremen i'd rather use an official patch release than rely on the github repo, if that's not too much of a problem for you =)
Many thanks !

[2021-11-07 16:56] mrbean-bremen commented on #645
Ok, not a problem - the release is out now.

[2021-11-08 13:30] Safihre opened #647 "Release 4.5.2 broke our tests vs 4.5.1"
We suddenly have various failures after our CI pipline started using 4.5.2 instead of 4.5.1.
I don't even know where to start to find the cause. It doesn't seem to be OS-dependent, since some Linux build fail, but not all. The error on Windows is different than on Linux and macOS succeeds.
No code was changed..

Yesterday: https://github.com/sabnzbd/sabnzbd/actions/runs/1431017533
Today: https://g

[2021-11-08 19:05] mrbean-bremen commented on #647
Thank you for the report. I just found the problem - it is not actually a bug, but is due to a behavior change of `os.listdir` in pyfakefs. From the release notes:

This has been requested as the order is not fixed in the real file system, but may lead to failed tests, if they relied on thi behavior. I just disabled this change in a pyfakefs branch and directed a build of your repo (e.g. a fork) t

[2021-11-08 20:02] Safihre commented on #647
Thanks a lot for looking into this in detail, I was a bit lost where to start!
Of course we can sort our `listdir` results to fix our tests with the new code. But indeed, our assumption of sorted `listdir` is only used in the tests, not in the functions being tested.

[2021-11-08 20:05] mrbean-bremen commented on #647
Shall be fixed now in version 4.5.3, please check. It makes sense to sort the results in your tests anyway, as in some future version the unsorted output will be the default (as it matches the real fs).

[2021-11-09 08:06] Safihre commented on #647
Thank you, it works 👍 👍

[2021-11-09 08:06] #647 closed

[2021-11-16 09:57] hofbi opened #648 "Type warning for `fs.create_file` using `pathlib.Path`"
Thank you for this great project. I use it a lot in my tests.

If I use `fs.create_file` with a `pathlib.Path` my IDE shows me the warning _Expected type 'AnyStr', got 'Path' instead _.
Everything still works fine, so I just wanted to report that the warning exists.

According to the definition `def create_file(self, file_path: AnyStr, ...)` the function expects `AnyStr`. I guess the warning shoul

[2021-11-16 10:13] hofbi opened #649 "GitPython causes `AttributeError: 'FakePipeWrapper' object has no attribute 'closed'`"
**Describe the bug**

If I am writing functions that interact with a git repository, I usually use [GitPython](https://github.com/gitpython-developers/GitPython).
To test these function, `pyfakefs` would be great.
So far, it seems that it is not supported.
Additionally, it is not listed in https://jmcgeheeiv.github.io/pyfakefs/master/usage.html#modules-not-working-with-pyfakefs

MWE and stacktrace

[2021-11-16 10:40] mrbean-bremen commented on #649
Thanks for the report!
I will have a look later, but unfortunately, I'm not sure if this can be fixed. `subprocess` is in the [list of modules that don't work with pyfakefs](http://jmcgeheeiv.github.io/pyfakefs/master/usage.html#troubleshooting), so even if I could fix this concrete problem, it still might not work.

[2021-11-16 10:46] mrbean-bremen commented on #648
Thanks for the report! Actually the correct typing is something that is not finished yet and is on my to-do list, I just didn't get to it for some time. Especially there are several places where `AnyStr` should be replaced by `AnyPath`, but I couldn't get it to work correctly at the first try - it is not as straightforward as I would have hoped, but I will see that I can get back to it in the near

[2021-11-16 12:39] hofbi commented on #648
Ok, then I guess it is related to #599

[2021-11-16 12:44] hofbi commented on #649
Right. Then I guess fixing this won't give us much as I expect `subprocess` to be used in the entire project.

To close this issue, we could add `GitPython` to the [list of modules that don't work with pyfakefs](http://jmcgeheeiv.github.io/pyfakefs/master/usage.html#troubleshooting) to make this more clear.

Do you have any other idea how to test interaction with git repositories without actually

[2021-11-16 14:12] mrbean-bremen commented on #648
Yes, correct!

[2021-11-16 20:28] mrbean-bremen commented on #649
I had another look, and I currently see no possibility to use this with pyfakefs - added a note in the documentation as proposed.
For testing this, you probably have to use the real file system, for example by creating a repository in a temp dir, or by using a RAM disk.

[2021-11-16 22:26] #649 closed

[2021-11-24 20:40] #648 closed

[2021-11-24 20:42] mrbean-bremen commented on #648
Turned out that fixing `create_file` was not a problem at all (contrary to most of the other methods), so I fixed this separately.

[2021-12-03 14:29] MasterSergius opened #650 "AttributeError: 'FakePipeWrapper' object has no attribute 'readable'"
**Describe the bug**
I have a set of tests using fake fs and vcr cassetess. When I try to run it, I have the following error:
[code]
This error appeared when I tried to run tests in a bit newer environment:
[code]
It works within the following (older) environment:
[code]

**How To Reproduce**
pytest --record-mode=once tests

[2021-12-03 15:00] mrbean-bremen commented on #650
Hm, can you show your actual test, or a minimal reproducible example? Are you using `subprocess` or `multiprocessing` in your tested code? Both are known to [have problems with pyfakefs](http://jmcgeheeiv.github.io/pyfakefs/master/usage.html#modules-not-working-with-pyfakefs).

[2021-12-03 15:05] MasterSergius commented on #650
Ok, I wanted to contribute to this library https://github.com/okta/okta-sdk-python, so I tried to run tests if everything is fine, you can check tests/integration folder

[2021-12-03 15:09] mrbean-bremen commented on #650
Ok, I will check if I can reproduce it, thanks.

[2021-12-03 15:32] mrbean-bremen commented on #650
What OS you are using? I'm currently under Windows, and here this is not reproducible with the same environment.

[2021-12-03 15:33] MasterSergius commented on #650
MacOS 10.15.17

[2021-12-03 15:44] mrbean-bremen commented on #650
Ok, I just checked their own [CI tests](https://github.com/okta/okta-sdk-python/runs/4385651307) which use the same versions under Ubuntu and also work, so I guess this is a MacOS-specific problem. Unfortunately, I don't have a Mac, so I'm not sure how to reproduce this, but I'm afraid it has to with `subprocess` using some OS-specific functions. As mentioned, `subprocess` does not always work wit

[2021-12-03 16:08] mrbean-bremen commented on #650
I checked the code, and I may actually be able to fix this - maybe all it takes is to patch a couple of functions for the fake pipe.  I cannot guarantee that it will work after the fix, but we can try it.

[2021-12-03 16:15] MasterSergius commented on #650
@mrbean-bremen ok, anyway, thank you for the fast response

[2021-12-03 17:40] mrbean-bremen commented on #650
@MasterSergius - can you please check how it behaves with pyfakefs master?

[2021-12-06 09:20] MasterSergius commented on #650
@mrbean-bremen Looks fine

[2021-12-06 10:21] mrbean-bremen commented on #650
Ok, thanks - do you need a patch release?

[2021-12-06 13:50] MasterSergius commented on #650
No, I can use it now, so you can release when u're ready to.

[2021-12-06 14:55] mrbean-bremen commented on #650
Ok, thanks - closing this then.

[2021-12-06 14:55] #650 closed

[2021-12-06 19:02] AliyevH opened #651 "BytesWarning: Comparison between bytes and string"
**Describe the bug**
When using python with '-b' option it raises warning BytesWarning: Comparison between bytes and string.

**How To Reproduce**
[code]
**Your environment**
[code]

https://github.com/jmcgeheeiv/pyfakefs/blob/master/pyfakefs/fake_filesystem.py#L3204

I have fixed this issue with changing line
```if target_directory in (b'.', u'.'):```
to
```if target_directory in (b'.'.decode('ut

[2021-12-06 19:25] mrbean-bremen commented on #651
Thanks, but your change would defy the purpose of the line, which is to check both `bytes` and `str` variants. Your change would be the same as `if target_directory in ('.'):`, which would break the case of `target_directory == b'.')`.
I'm not sure about that warning; it could probably be avoided by using an `isinstance` check, but that is not really needed, but that would make the code unnecessar

[2021-12-06 19:28] AliyevH commented on #651
Thanks

[2021-12-06 19:31] #651 closed

[2021-12-06 19:32] AliyevH commented on #651
@mrbean-bremen  Thanks

[2022-01-06 00:03] sodul opened #655 "pathlib.Path() inconsistent behavior"
**Describe the bug**
We have tests that are broken when they use `Path` objects instantiated before `setUpPyfakefs()` is called. If the objects are re-instantiated after `setUpPyfakefs()` things go back to the fake filesystem.

Recasting the `Path` objects after `setUpPyfakefs()` is called is a workaround on the issue but I suspect many unittests will now write to the real filesystem as a side eff

[2022-01-06 07:32] mrbean-bremen commented on #655
This is a known limitation to pyfakefs (and other patching methods). From the [documentation](http://jmcgeheeiv.github.io/pyfakefs/master/usage.html#modules-to-reload) of the `modules_to_reload` argument:

[code]

As reloading the test itself does not make sense, `modules_to_reload` would not help for your example, and I don't know a way of how to fix this without changing the definition. A workar

[2022-01-12 10:41] julienschuermans commented on #650
Hi @mrbean-bremen, thanks for your amazing work!
I've got the same issue. When are you planning to release the fix?

[2022-01-12 10:44] mrbean-bremen commented on #650
I can make a patch release tonight, if you need it.

[2022-01-12 11:01] julienschuermans commented on #650
That would be great, thanks a lot!

[2022-01-12 16:34] mrbean-bremen commented on #650
Ok, [done](https://pypi.org/project/pyfakefs/4.5.4/).

[2022-01-14 21:28] sodul commented on #655
@mrbean-bremen thanks for pointing this out, I did not notice that in the documentation and that really helps.

[2022-01-23 13:40] jaraco opened #659 "SyntaxError in fake_filesystem_unittest on Python 3.5"
**Describe the bug**

Attempting to `import pyfakefs.fake_filesystem_unittest` on Python 3.5 fails with a SyntaxError:

[code]

**How To Reproduce**

This docker command will replicate the issue:

[code]

**Your environment**

[jaraco/multipytox](https://github.com/jaraco/multipy-tox/) is an Ubuntu image with multiple Pythons installed and tools like pylauncher and pip-run.

[code]

[2022-01-23 13:43] jaraco commented on #659
It looks like #615 acknowledged this issue, but did not correct the issue for 4.5.0. In that case, I believe the proper fix would be to yank 4.5.0 from PyPI. That will leave 4.5.0 published and available for download but not available unless requested explicitly (so it won't be discovered by Python 3.5).

[2022-01-23 13:45] jaraco commented on #659
This issue came up in `importlib_metadata`, where a new release of v2.1.2 was being tested for release in [this job](https://github.com/python/importlib_metadata/runs/4912865108?check_suite_focus=true), but failed due to this issue.

[2022-01-23 14:21] mrbean-bremen commented on #659
Thanks, good point.
@jmcgeheeiv: can you please yank 4.5.0 from PyPi? I don't have the rights.

[2022-01-25 01:53] jmcgeheeiv commented on #659
Version 4.5.0 yanked. Thank you for your report.

[2022-01-25 01:56] jaraco commented on #659
Excellent. I can confirm [that fixes the job too](https://github.com/python/importlib_metadata/actions/runs/1736284434).

[2022-01-25 02:09] jmcgeheeiv commented on #659
Very good. If you are satisfied with the fix, please close this issue.

[2022-01-25 14:23] #659 closed

[2022-01-28 00:21] victorallume opened #660 "Disk full error not being raised appropriately when file is re-opened"
**Describe the bug**
There seems to be a bug when a file is re-opened for writing, that disk usage is not calculated correctly, and hence does not throw disk full exceptions at the right place. In the code below, in the first test, the assertion fails. The second test works fine. The third function fails the assertion. I discovered this error in code which re-opens files regularly, and uses random

[2022-01-28 04:23] mrbean-bremen commented on #660
Thanks for the report! This certainly looks like a bug in pyfakefs, seems that these cases are not handled properly. I will have a closer look tonight.

[2022-01-28 04:35] victorallume commented on #660
An even simpler test which I think might be at the heart of the problem:
[code]

[2022-01-28 06:18] gsnedders opened #661 "FakePipeWrapper.read shouldn't require numBytes"
[code]

Clearly, the stdlib pipe object has the pipe implementing the "normal" IO interface where numBytes is an optional argument, whereas for `FakePipeWrapper` it is a required argument.

[2022-01-28 06:58] mrbean-bremen commented on #661
Thanks, you are right.

[2022-01-28 19:13] #660 closed

[2022-01-28 19:13] #661 closed

[2022-01-28 19:14] mrbean-bremen commented on #661
@gsnedders - shall be fixed in master, please check.

[2022-01-28 19:16] mrbean-bremen commented on #660
@victorallume - this was a clear bug, probably a leftover from some code change - thanks again for the report. Please check if it works for you in master. If this and the other included bugfix work, I will probably make a bugfix release.

[2022-01-30 06:06] victorallume commented on #660
Thanks; a quick check of the tests and it looks like master works fine.

A side note though; the following test works exactly as expected now:
[code]

but the test below raises an OSError at runtime on the last line `f.flush()` _which should be caught by the context manager, which works fine on the above code_, and the test fails. I've also tried a non-context-manager assertRaises, but this has th

[2022-01-30 06:13] victorallume commented on #660
Even the following code still fails with an OSError, even though the code in the except clause runs:
[code]

[2022-01-30 06:18] mrbean-bremen commented on #660
Yes, the exception is caught for `flush`, but the `open` context manager calls `close` on exit, which also does a `flush` and will raise the exception again. You can can check this by removing the explicit `flush` and put the exception handler around the `open` block.

[2022-01-30 07:02] mrbean-bremen commented on #660
The problem is that the `write` call worked, and the data is already in the buffer, so `flush` will be called on closing the file and it will raise again. I think that this is the expected behavior.

[2022-01-30 08:00] victorallume commented on #660
Thanks; that makes sense (the below code works fine). But why does the first example (`test_disk_full_append_160`) not throw the error again when the context manager closes the file?
[code]

[2022-01-30 09:25] mrbean-bremen commented on #660
You are right, this behaves differently - I missed this. Apparently, the flush position is reset before the exception is raised, so in the case of append the second flush will not try to append anything, which is wrong.
I will have another look later today, also will probably try to test the behavior in the real OS before fixing this to be sure that the behavior will match.

I don't think that it

[2022-01-30 13:06] mrbean-bremen commented on #660
Should be corrected now. I verified that the real filesystem is behaving the same way. Note though that you cannot rely on the contents of the file written which caused the out of space exception - this depends on the caching and will differ between real fs and pyfakefs.

[2022-02-02 16:21] mrbean-bremen commented on #661
@gsnedders - did you have the time to test this yet?

[2022-02-03 16:52] yaythomas opened #664 "binary mode doesn't take an encoding argument"
The actual `open()` function does not allow you to pass an encoding when in binary mode:

[code]

Assuming this is not an intentional divergence from `open()` behaviour, I think the fix would be to insert this:

[code]

just after here:
https://github.com/jmcgeheeiv/pyfakefs/blob/4dc8615957dadfc64d6a8f864ee93c7c65da38b5/pyfakefs/fake_filesystem.py#L5574

Before I prepare a PR, I thought I'd ask wh

[2022-02-03 17:04] mrbean-bremen commented on #664
Thanks :) And good catch - no this wasn't meant to diverge, we just overlooked it.
You mean if its a suitable first PR? Sure, go ahead!

[2022-02-03 17:26] yaythomas commented on #664
By suitable I meant more whether my suggested simplistic fix was comically naive and unaware of other complexities :-)

PR incoming. . .

[2022-02-03 17:31] mrbean-bremen commented on #664
The test coverage is pretty ok here, so it is not very likely that you will break something if the tests pass. And I guess you will add a test of your own for the change...

[2022-02-03 19:56] #664 closed

[2022-02-03 19:58] mrbean-bremen commented on #664
Thank you, nice work!

[2022-02-03 20:00] yaythomas commented on #664
Pleasure was mine! Thanks for a smooth contribution experience!

[2022-02-09 13:24] Wescoeur opened #666 "Bad assertion with pytest 7.0.0 & fs fixture"
**Describe the bug**
With the new pytest version (7.0.0), we can't run pytest/pyfakes using this command line with a subfolder:
[code]
Instead we must use:
[code]
Otherwise we have this trace:
[code]
**How To Reproduce**
A minimal code is present here to reproduce the bug: https://github.com/Wescoeur/pyfakefs-pytest-bug
Use directly `pytest tests/` in the root folder of this repo.
Note: If `log_cl

[2022-02-09 18:17] mrbean-bremen commented on #666
Thanks for the report - this is weird! From the first glance, it looks like pytest itself uses some file access while pyfakefs is still active, e.g. fs access is patched.
I can reproduce this with your code example (and confirm that it works with the previous pytest version), and I will try to find the cause. Right now I have no idea how easy or complicated a fix is, so this may take a while.

[2022-02-09 19:33] mrbean-bremen commented on #666
Ok, for my own reference:
The crash happens due to a new `assert` statements in `_pytest.pathlib`:
[code]
If commenting out these asserts in pytest, the test passes. The asserts have been added for [this issue](https://github.com/pytest-dev/pytest/issues/8990) to make sure pathlib Paths are used and not strings.
In our case, `directory` and `dest` are of the correct type (`pathlib.WindowsPath` or

[2022-02-10 16:31] Wescoeur commented on #666
Thanks for your feedback! :)

No problem. There is a workaround for the moment. :+1:

[2022-02-13 19:53] mrbean-bremen commented on #666
@Wescoeur - should be fixed in master now - please check if it works for you!
If you can confirm this, I will make a patch release, as this is a severe issue with pytest 7 now out.

[2022-02-14 09:12] Wescoeur commented on #666
@mrbean-bremen Hi, I confirm, it's fixed on my side with the last commit! Thx! :+1:

[2022-02-14 10:02] mrbean-bremen commented on #666
Thanks - will make a patch release tonight in this case!

[2022-02-14 10:02] #666 closed

[2022-03-03 23:25] BrendanSimon commented on #553
I'm am getting this error in 2022.
Is it supposed to be fixed now?
Is there an issue that tracks this "bug"?

NOTE: I'm using Python 3.7.3 on Debian 10 Buster for my unit testing, and my real code runs on Python 2.7.16 on a Debian 10 Buster embedded system (yes, I know 2.7 is unmaintained - the migration to Python 3 is on my wish list).

Is there a 3rd party (updated) version of pathlib.Path which

[2022-03-04 00:15] BrendanSimon commented on #553
I can confirm installing `pathlib3x` in my dev environment (and modifying my production code accordingly) that I was able to get my unit test to complete without the error "type object 'Path' has not attribute '_flavour'" :)

[2022-03-04 06:45] mrbean-bremen commented on #553
@BrendanSimon - this specific problem has been fixed with the commit that closed this issue - it had to do with `pathlib` used in skipped modules.

If I understand this correctly, your problem was using `pathlib2` under Python3, which has less options than `pathlib` itself - is that correct?
We do have some support for `pathlib2`, but there have been some problems with later Python versions due to

[2022-03-14 22:55] red8888 opened #669 "pytest fails if pyfakefs is installed with "AttributeError: module '_pytest' has no attribute 'pathlib'""
**Describe the bug**
As soon as I install pyfakefs pytest fails with the error: `AttributeError: module '_pytest' has no attribute 'pathlib'`
This is even before importing and using it.

**How To Reproduce**
pip install pyfakefs
py.test

[code]

**Your environment**
[code]

Why would pyfakefs generate this error even if its not being imported anywhere yet?

[2022-03-14 23:22] red8888 commented on #669
Downgrading seems to fix it, but I'm testing more.

[code]

pyfakefs 4.5.1

Running pytest worked

[2022-03-15 06:17] mrbean-bremen commented on #669
Thanks for the report! That last version contained a fix for pytest 7, which had a change incompatible with the pyfakefs implementation, but it looks like I didn't test older pytest version properly. Which version of `pytest` have you been using?

I will see if I can fix this later today ot tomorrow.

[2022-03-15 19:31] mrbean-bremen commented on #669
@red8888 - I added a check for `_pytest.pathlib` in master,though  that that was already added in pytest 3.9.0 - can it be that you have such an old pytest version? Though we claim that we work with pytest 2.8.6 and above, so we should support this. We probably need tests for older pytest versions to ensure this.

Can you please check if pyfakefs master works for you?

[2022-03-17 19:10] mrbean-bremen commented on #669
Ok, made a new release (including tests with older pytest versions), so I consider this fixed.

[2022-03-17 19:10] #669 closed

[2022-04-25 16:11] stijnPostNL opened #673 "Empty cwd on filesystem leads to error on .absolute() paths (Windows)"
**Describe the bug**
When using this module on a Windows environment, whenever a patched out `os.getcwd` is used ( i.e. due to calling a `setUpPyfakefs` / using `FakeOsModule` ), it's no longer possible to retrieve a [real](https://docs.microsoft.com/en-us/dotnet/standard/io/file-path-formats) absolute path on any pathlib.Path object on Windows filesystem, since a drive letter will always be omitt

[2022-04-25 19:02] mrbean-bremen commented on #673
Thanks for the report! There is indeed a problem with the root path under Windows, which is not a drive but just `\`. I did try at one point to change this, but this caused all kinds of problems (which I forgot meanwhile), so I abandoned it at the time. I just found a work branch I made for this, but this was 4 years ago, so it is likely very outdated.

Anyway, I think I have to revisit this, now

[2022-04-26 07:16] stijnPostNL commented on #673
@mrbean-bremen thanks for your quick response and makes sense!

So would adjusting the `getcwd` to return `C:\` on (or another configurable drive) win32 systems instead of `\` lead to more errors than it solves? Since the actual `os.getcwd()` would never be able return a `\` in a Windows environment.

If I can be of any further help please let me know.

[2022-04-26 07:50] mrbean-bremen commented on #673
Maybe this can be solved with a quick fix for `getcwd` only, without affecting the actual root used throughout the file system, I have to check this. The problem I had was with trying to change the file system root to `C:\` under Windows, but maybe this is not needed to solve this issue.

[2022-04-27 19:30] mrbean-bremen commented on #673
I think I have to fix this properly, which will take some time. I started to adapt the code accordingly, and while there are several changes needed in tha actual code, more changes are needed in the tests, as a lot of them fail due to assumptions that are no longer true. I'm not sure when I will get the time to finish this (short on free time at the moment), but I think it makes sense to do this a

[2022-05-05 15:41] davidorme opened #674 "Using requests within tests using pyfakefs"
Hi,

This an odd use case failure and not a bug but I just wanted to record it in case anyone else comes it.

We are using the `requests` package within a set of tests using `pyfakefs`. That gave us a consistent failure:

[code]

The issue here is that `requests` uses the `certifi` package for HTTPS certificate chains - and the underlying certificate bundle is only loaded from file when required,

[2022-05-05 17:46] mrbean-bremen commented on #674
Thanks for that, good find! No, there isn't a reliable way to know about site package locations in `fs`, this has been discussed some time ago in another issue.
I'm going to convert this into a disussion issue so it will remain open.

[2022-05-11 17:45] #673 closed

[2022-05-11 17:48] mrbean-bremen commented on #673
Fixed in master, please check it out. I hope that I didn't introduce too many regressions, but I can't rule it out, as the handling of the root path under Windows has changed sufficiently.

[2022-05-18 09:39] AndrewAmmerlaan opened #677 "Test failures in python 3.11"
**Describe the bug**
With python 3.11 several tests are failing, some files that should not exist appear to exist, and some files that should exist return No such file or directory:

[code]

**How To Reproduce**
Run the tests with python3.11

**Your environment**
Please run the following and paste the output.
[code]

[2022-05-18 11:21] mrbean-bremen commented on #677
Thanks - we haven't yet tried to run tests under 3.11, I will have a look later. These are all `pathlib`-related tests, and as `pyfakefs` heavily depends on the real `pathlib` implementation, it is not unexpected that it breaks with a new Python version.

[2022-05-18 19:18] mrbean-bremen commented on #677
Ok, for my own reference:
In 3.11, the accessor class in `pathlib` has been removed, that had wrapped all access to `os` file system functions, and instead the `os` functions are called directly now. As we had re-implemented that accessor to access the fake filesystem, this won't work anymore. In principle we could just rely on patching the `os` functions, this may even be easier, though we have t

[2022-05-19 15:54] wulpj opened #678 "Inconsistent view on file/directory ownership via FakeOsModule and FakePathlibModule"
**Describe the bug**
Since version 4.5.1 of pyfakefs there is an implementation of pathlib.Path.owner(), while previous version delate to the original pathlib implementation which uses os.stat. The new implementation assumes that the process owner is also the owner of the file. The result is an inconsistent view on ownership of the same file/directory depending on the method of obtaining the owner

[2022-05-19 19:33] wulpj commented on #678
Thanks for the quick response. Sorry for the syntax errors. I could not copy paste the running code easily so I quickly typed it over.

In my case I want to test ownership of a file which does not match the process owner. The application is a backup/restore framework that normally executes under its own system user and operates on files owned by a different user. In version 4.5.0 this used to work

[2022-05-19 20:10] mrbean-bremen commented on #678
Ok, thank you for the explanation! If you patch these functions, this makes more sense to me, and I will see if I can understand and fix the problem. It just may take a while until I get to it.

[2022-05-22 19:25] mrbean-bremen commented on #677
Confirming that the only part really broken is the usage of skip modules that call pathlib functions, while the normal patching of `pathlib` works (just the tests have to be adapted).
I'm not sure yet how to fix the skip module problem, so this may take a bit.

[2022-05-31 18:50] #677 closed

[2022-05-31 18:50] mrbean-bremen commented on #677
Confirming that the only part really broken is the usage of skip modules that call pathlib functions, while the normal patching of `pathlib` works (just the tests have to be adapted).
I'm not sure yet how to fix the skip module problem, so this may take a bit.

[2022-05-31 18:53] mrbean-bremen commented on #677
@AndrewAmmerlaan - it should be fixed in master now. I would appreciate if you could test this version - there may be more problems (or regressions from the fix) under Python 3.11 that don't show up in the tests.

[2022-06-06 14:48] mrbean-bremen commented on #678
After having a second look (sorry it took me so long) I don't really understand why I implemented it the way it is. I _think_ I did it that way because the fake filesystem is always created by the current user, and that way you have a valid user id, while setting some random user id to a file after creation may not be compatible with the real users, and `owner` would raise an exception in this cas

[2022-06-07 17:32] #678 closed

[2022-07-05 16:54] iSplasher opened #684 "Module scoped pytest fixture raises error"
**Describe the bug**
Hello, when I try to create this
[code]

I get this error when the function yields

[code]

**Your environment**
Please run the following and paste the output.
[code]

[2022-07-05 17:02] mrbean-bremen commented on #684
Can you please add a minimal reproducible example, or at least a bit more context? Is `p` a global variable (which could be a problem, because it is not patched)?

[2022-07-05 21:07] iSplasher commented on #684
I apologize for the lack of info. I just managed to create a repro:

[code]

[code]

Creating a clean environment using the latest pytest and pyfakefs with these two files produces the error.

Seems like the `tmpdir` fixture in the auto-used fixture is the culprit.

[2022-07-06 05:45] mrbean-bremen commented on #684
Thank you for the example! At a first this looks like a clash between the 2 fixtures - at some point the temp file is probably created in the fake filesystem, but accessed in the real fs. It may be that the fixtures just won't work together nicely, or that `pyfakefs` does not properly patch something used by `tmpdir`. I will have a closer look at this tonight.

Keep in mind that you won't really u

[2022-07-06 19:43] mrbean-bremen commented on #684
This is a regression in pyfakefs, though I'm not sure yet how to fix it. The change has been introduced in pyfakefs 3.5.5.
You can disable this change if you add the following lines in your `conftest.py`:
[code]
I suspect though that this will cause other problems, as the change has been introduced for compatibility with pytest 7.0. If that is the case, you can temporary downgrade to pytest < 7.0.

[2022-07-11 16:33] mrbean-bremen commented on #684
There turned out to be an easy fix for #666 that I overlooked at the time - should be fixed in master now. I'll probably make a new release in a few days if nothing else comes up.

[2022-07-13 07:02] mgorny opened #686 "Python 3.11 test failures (IsADirectoryError) with 4.6.0"
**Describe the bug**
The 4.6.0 declares support for py3.11. However, when running the test suite I get a bunch of failures (they seem to boil down to `IsADirectoryError` being raised):

<details><summary>Test failures</summary>

[code]
</details>

**How To Reproduce**
`tox -e py311`

**Your environment**
Please run the following and paste the output.
[code]

[2022-07-13 08:08] mrbean-bremen commented on #686
Thanks for the report. Maybe it was premature to claim support for Python 3.11, given that it is not released yet.
We rely solely on the CI tests here, which are running under Ubuntu for the Linux tests. It looks like `NamedTemporaryFile` behaves differently under gentoo and Ubuntu, or something else is different in the test environment. At a cursory glance it seems that the tempfile created by `N

[2022-07-13 08:10] mrbean-bremen commented on #686
While this is not fixed, you probably have to pin pyfakefs to a version < 4.6.0.

[2022-07-13 10:53] kloczek commented on #608
Tested new version and pytest is OK however I see in pytest output strange call trace.
<details>

[code]
</details>

Other thing is that pytest still does not work without `--import-mode=importlib`
[code]

[2022-07-13 15:43] nicolashainaux opened #687 "Test error on Ubuntu: Module-scoped fake filesystem fixture not found"
**Describe the bug**
If I run `pytest -vv -x`, (`-vv` is to get verbose output, `-x` is to stop `pytest` at first error) I get the following error:
[code]
I followed the given advice (hence `pytest --fixtures pyfakefs/pytest_plugin.py`), but everything was green (it found the module-scoped fixture):
[code]
First try was with older `pytest` (the focal packaged one, 4.6.9), but I have got the same r

[2022-07-13 16:40] mrbean-bremen commented on #687
Looks like I put this test into the wrong module. The test assumes that `pyfakefs` is installed as a package, so that the fixtures are registered. This is only assumed for the `pytest_plugin_test` module where this test belongs, and which is not by run default - I will move it there. I did not notice this, as the CI tests do install pyfakefs, and I locally use a developer install.

Thanks for the

[2022-07-13 18:05] mrbean-bremen commented on #686
Update: this is indeed missing functionality in pyfakefs. In `open`, the `opener` argument has been ignored so far, which is now used by `tempfile`. I think I can make a quick fix - the usages in `tempfile` serving as a test for the time being - and put out a patch release ASAP.

[2022-07-13 18:20] mrbean-bremen commented on #608
That error in the shutdown looks somewhat like the error I have just fixed in that version - strange... Anyway, I first have to handle other problems with that release (related to Python 3.11) and may have a closer look at this one sometime later.

[2022-07-13 18:25] mrbean-bremen commented on #687
Please check if it works with current master.

[2022-07-13 18:28] nicolashainaux commented on #687
Thanks for your quick patch!
Unfortunately, it still fails the same way. I installed pyfakefs in a venv, to make sure it was installed (`python setup.py install` and `python setup.py develop` is the right way, I guess), but still:

[code]

[2022-07-13 18:47] mrbean-bremen commented on #687
Ok, thank you - now I understood the problem, I fixed only half of it. I had an extra import for `fs` added in the `conftest.py`. This allowed these tests to to run without pyfakefs installed, and I forgot to add the same for `fs_module`. I probably have to remove installing the `pyfakefs` package in the CI tests to find these kind of problems. Thanks again!

[2022-07-13 18:48] #686 closed

[2022-07-13 19:11] mrbean-bremen commented on #687
Ok, second try - please check again!

[2022-07-13 19:47] mrbean-bremen commented on #686
I put out a new Pypi patch release (4.6.1).

[2022-07-13 19:54] nicolashainaux commented on #687
Well, the tests do pass, but there's a strange exception at the end (`sophie` being the current user name):

[code]

[2022-07-13 20:46] kloczek commented on #608
Just tested 4.6.1
[code]

[2022-07-14 07:23] nicolashainaux commented on #687
Thank you for your quick answers too!
I'll answer as quick as possible. Sometimes it can't be as quick as I wish (tonight I'm not sure, maybe it'll be late).

[2022-07-14 09:33] yaronbenezra opened #689 "version 4.6.1 issue with opener"
Hi,

In the latest version due to "Add support for opener in open() #688" commit we fail to run a tests on python version 3.9 cause:
![image](https://user-images.githubusercontent.com/84681092/178951642-45275d42-94ea-4ad8-b7fe-ffff4fdd1848.png)

seems like _OpenModes is now object instead of int

[2022-07-14 10:09] mrbean-bremen commented on #689
Thanks for the report - interesting. `_OpenModes ` has not changed, the difference is that the `opener` call is now executed here. Looks like the flags have to be converted before passing them into the call - this was not a problem with the tested code, but obvioulsy I didn't test this usage.

Do you have a simple reproducable example, that shows this behavior? This would help to find the problem

[2022-07-14 18:31] mrbean-bremen commented on #689
Never mind, this was a clear mistake. Never a good idea to rush a patch out without adequate tests...

[2022-07-14 18:35] mrbean-bremen commented on #608
Yes, I haven't fixed this yet. I had made that patch release to fix an incompatibility to the latest Python 3.11 pre-release, but that was premature anyway - I made an error in that fix...
I will come back to this problem after I get the other one really fixed.

[2022-07-14 18:56] kloczek commented on #608
np 👍

[2022-07-14 19:52] #689 closed

[2022-07-14 19:58] #687 closed

[2022-07-14 20:01] mrbean-bremen commented on #684
Reopen as there still can be an error logged on test shutdown (which does not affect the tests though).

[2022-07-14 20:16] mrbean-bremen commented on #689
Shall be fixed in version 4.6.2.

[2022-07-17 16:52] yaronbenezra commented on #689
i will test and update tomorrow

[2022-07-18 10:25] yaronbenezra commented on #689
Hi
I have tested it and now we fail on :
 filesystem.add_real_directory
![image](https://user-images.githubusercontent.com/84681092/179492627-f36a9b8c-9c02-4f9c-b563-6af02ecf4160.png)
hope you can help, thanks in advanced

[2022-07-18 10:49] mrbean-bremen commented on #689
Ok, that's unfortunate. I will have a look tonight - it would be nice if you could add a test that can reproduce this.

[2022-07-18 11:25] yaronbenezra commented on #689
I run my test and a good version that all work for me is: 4.5.6
I will try to write the test  today so I can upload it, I can't expose the company code so I need to write a new test

[2022-07-18 15:29] mrbean-bremen opened #691 "Infinite loop in test with version 4.6.2"
This is a spin-off of #689.

@yaronbenezra commented:

Hi
I have tested it and now we fail on :
*filesystem.add_real_directory*
![image](https://user-images.githubusercontent.com/84681092/179492627-f36a9b8c-9c02-4f9c-b563-6af02ecf4160.png)
hope you can help, thanks in advanced

I run my test and a good version that all work for me is: 4.5.6
I will try to write a test today so I can upload it for y

[2022-07-18 17:21] mrbean-bremen commented on #691
Ok, from the callstack it looks as if you are emulating a Posix system under Windows. Is this correct? How do yo setup your test? Of course, a reproducible example test would still be the best way to understand this.

[2022-07-19 14:53] jcfp opened #692 "[4.6.2] KeyError: '/' in fake_filesystem.FakeDirectory.get_entry()"
Recent changes in pyfakefs resulted in test failures in sabnzbd, discussed at https://github.com/sabnzbd/sabnzbd/pull/2242. The failures go away when limiting pyfakefs to `< 4.6.0` in the test requirements so this appears to be a regression, possibly related to https://github.com/jmcgeheeiv/pyfakefs/pull/676.

Example of a unittest that triggers the issue: https://github.com/sabnzbd/sabnzbd/blob/3

[2022-07-19 15:40] mrbean-bremen commented on #692
Thanks for the report! Looks like that release was premature, next time we should consider a pre-release for changes that may create this kind of regressions.

At a first glance, this looks like the problem is in changing the os enviroment in the test. Due to some internal changes, it might not be suffcient to just change the values as is done in the code:
[code]
This now probably needs an additio

[2022-07-19 16:30] mrbean-bremen commented on #692
Ok, this only fixes some of your tests (10 of 30 failing). I will check the rest - this may take some time...

[2022-07-19 19:48] mrbean-bremen commented on #692
Hm, I couldn't get it to work completely without changing the test code - some tests (4 of them) are still failing, and I'm not sure why yet. I may have another look tomorrow evening...

[2022-07-19 19:56] jcfp commented on #692
Thanks for the quick response, much appreciated!

[2022-07-20 13:42] mniebisch opened #693 "GitHub Actions get stuck when using fs fixture and importing torch"
Hey,

I'm using pyfakefs for a project. While writing tests locally, everything worked like a charm.
At some point, I pushed my code and applied it to GitHub Action. During the test phase of my workflow, the tests just got stuck, and the workflow didn't terminate.

I tracked the problem down to a conflict between the fs fixture and the import of torch.
If torch is imported, all tests are executed

[2022-07-20 18:22] mrbean-bremen commented on #693
Thanks for the report! No, I don't know of this issue, and I have no idea what causes this so far.
I will have a closer look after I fix a couple of regression bugs that came up recently, so this may take a bit...

[2022-07-20 18:29] mrbean-bremen commented on #692
Ok, I'm not sure what the problem was yesterday - not sure if the build used the latest version of pyfakefs. It seems now to work, so I will merge this to master and probably make a new patch release shortly afterwards.
This version should then work without changing the test code for your tests. I saw that you already changed the code that changes the OS, which is cleaner anyway, but your code hel

[2022-07-20 18:57] mrbean-bremen commented on #691
@yaythomas - I'm going to close this, as it looks like it is related to #692, which is fixed now, and there is not enough information to reproduce this. Feel free to reopen it if it still happens in version 4.6.3 and you have more information to reproduce it.

[2022-07-20 18:57] #691 closed

[2022-07-20 18:59] mrbean-bremen commented on #684
Removing regression label, as the regression is fixed.

[2022-07-21 09:45] Safihre commented on #692
Confirmed all ✔!
https://github.com/sabnzbd/sabnzbd/runs/7446508804

Thanks for the quick fix!

[2022-07-21 10:48] yaythomas commented on #691
I think you might have tagged me accidentally there @mrbean-bremen - just letting you know in case intended recipient not in the loop otherwise 😄.

[2022-07-21 10:53] mrbean-bremen commented on #691
@yaythomas - sorry for that - I just hit the first match that started with "ya" 😊

@yaronbenezra - that was for you, of course!

[2022-07-23 07:28] mrbean-bremen commented on #693
@mniebisch - Can you check if it is fixed with master?

[2022-07-25 06:42] mniebisch commented on #693
@mrbean-bremen - I check with pyfakefs 3.6.3. Unfortunately, it doesn't work.

[2022-07-25 06:45] mrbean-bremen commented on #693
@mniebisch - it is not integrated into a release yet -can you please check with master?

[2022-07-25 07:01] mniebisch commented on #693
@mrbean-bremen Ah, my bad :D Seems like I need a coffee. You fixs works like a charm. Thanks a lot for the fast support :) What caused the problem

[2022-07-25 07:11] mrbean-bremen commented on #693
That's good! I'm not completely sure what caused it as I could not reproduce it locally - I just found the commit and the specific changes that caused this in CI. It seems that accessing `__name__` in non-module objects did not behave as expected (e.g. instead of raising an exception it caused the test to hang). I reintroduced the module check using `inspect`, that I have removed as a performance

[2022-07-25 08:16] AlessandroLollo opened #697 "OSError: [Errno 9] Bad file descriptor in the fake filesystem"
Hey folks 👋

I'm facing an issue that seems to be related to `pyfakefs`, but I'm not 100% sure.
While implementing an integration between [MetricFlow](https://transform.co/metricflow/) and [Prefect 2.0](https://orion-docs.prefect.io/), I'm using `pyfakefs` to mock some files I need.

I was able to reproduce the issue with this minimal script:
[code]

I'm using `pyfakefs==4.6.3` and `prefect==2.0b1

[2022-07-25 09:07] mrbean-bremen commented on #697
At a first glance, this look like the code is trying to read a file in the real fs that is not present in the fake filesystem, specifically the logging config. As the fake filesystem does not use any real filesysystem contents by defaults, these have to be [mapped into the fake filesystem](http://jmcgeheeiv.github.io/pyfakefs/release/usage.html#access-to-files-in-the-real-file-system) on setup if

[2022-07-25 09:12] #693 closed

[2022-07-25 18:02] mrbean-bremen commented on #697
I had a closer look, and there is another issue here that may take some time to fix. As mentioned, `prefect` reads some files in the package itself (not only the logging config). This can be fixed by mapping the package path into the fake filesystem.
Unfortunately, this doesn't work either due to a regression issue related to the changes in pyfakefs 3.6.x (specifically, support for the `opener` ar

[2022-07-25 19:11] mrbean-bremen commented on #697
Ok, I added a commit to master that ignores the opener in pathlib (basically the same behavior regarding `pathlib` as in previous versions). I'm not sure yet if this is the best way to fix this, I will do a few more checks another time.
@AlessandroLollo - you could try with master and check if you can work with that version (and the additional setup shown above).

[2022-07-26 08:05] AlessandroLollo commented on #697
Hey @mrbean-bremen 👋
Thanks a lot for taking a closer look at the issue, much appreciated! 🙌

I will try your suggestion and let you know how it goes!

Thanks again 🙏

[2022-08-04 18:34] mrbean-bremen commented on #697
@AlessandroLollo - did you get the chance to test this?

[2022-08-04 19:33] mrbean-bremen commented on #684
I investigated some more, and it turned out to be a problem with combining the usage of `tmpdir`, the `module_fs` fixture, and tests that emulate another file system. If emulating another file system, the file system is reset, which doesn't play nice with a `tmpdir` created in the fake file system before (the reset of the fake filesystem removes the created root dir for the temp files, which `pyte

[2022-08-04 19:33] #684 closed

[2022-08-08 16:27] spezold opened #699 "FakeShutilModule.disk_usage() does not accept Path objects, in contrast to shutil.disk_usage()"
An unpached `shutil.disk_usage()` function happily accepts instances of `pathlib.Path` for its `path` parameter. However, with `pyfakefs`, this does not seem to work; at least on my system (Windows 10, Python 3.7.9 with `pyfakefs` 4.6.3 and Python 3.10.5 with `pyfakefs` 4.5.6). Here is a minimum working example:

[code]

- With Python 3.7.9, `pyfakefs` 4.6.3, I get: `TypeError: 'WindowsPath' objec

[2022-08-08 16:42] mrbean-bremen commented on #699
Thanks - yes, this is an error. Usually it is documented if a `Path` object can be passed, but for `disk_usage` they seem to have forgotten that. I just tested, this has been introduced in Python 3.7.

[2022-08-08 18:10] #699 closed

[2022-08-08 18:10] mrbean-bremen commented on #699
@spezold - should be fixed in master now, please check!

[2022-08-09 07:16] spezold commented on #699
@mrbean-bremen Wow, thanks a lot for your rapid response. I can confirm that it works (just checked with `pyfakefs`'s current master on my Python 3.10 setup)

[2022-08-09 08:26] kasuteru opened #701 "Simulate no file system"
**Is your feature request related to a problem? Please describe.**
I have a program that, for data security reasons, should never persist anything to local storage if deployed in the cloud. Instead, any input / output needs to be written to the connected (encrypted) storage instead.

To allow deployment locally as well as to multiple clouds, I am using the very useful [fsspec](https://filesystem-s

[2022-08-09 18:04] mrbean-bremen commented on #701
Hm, that is not really in scope for pyfakefs as a test framework/plugin, and it is also not bullet-proof (see [limitations](http://jmcgeheeiv.github.io/pyfakefs/release/intro.html#limitations)). So, if you want to use this to run your production code on, it is probably not the best idea.

What you would need is some enviroment where your code is run only after the fake filesystem is initialized (b

[2022-08-10 07:23] kasuteru commented on #701
Thanks for the hint with setting disk usage, I'll give it a try. To be honest, it does not have to be perfect - the alternative currently is not testing for it at all, so if it turns out to be an easy way to reduce potential mistakes, we'll use it. In the end, for all complex code, testing can only help find mistakes but not guarantee that there are none.

I assume that stuff like os.listdir() wil

[2022-08-10 15:17] zbouslikhin opened #702 "Unexpected behavior when using Zipfile with fs and fs_session"
**Describe the bug**
If I create a fixture with fs_session and use fs in another function, I get the following error:
[code]

**How To Reproduce**
[code]
**Your environment**
Please run the following and paste the output.
[code]

[2022-08-10 15:22] zbouslikhin commented on #702
I can not reproduce this bug consistently. I'll close this for now and re-open it in case

[2022-08-10 15:22] #702 closed

[2022-08-10 16:20] mrbean-bremen commented on #702
It is probably not a good idea to use `fs_session` and `fs` together. `fs_session` and `fs_module` have been newly introduced as a convenience, but they probably lack some consistence checks. The case that the file system is already patched, while starting patching anew, is not handled (as would happen if using `fs_session` and `fs` together).
We should at least document this, and probably add som

[2022-08-10 16:23] mrbean-bremen commented on #701
Yes, it would, though it would return an empty list, of course. If you see that this scenario is something you can actually use, I will have another look at this.

[2022-08-12 10:10] schwaerz opened #703 "Patching of os not working properly when using it with behave"
**Describe the bug**
Last two days I tried to get pyfakefs working with behave. Unfortunately I could not get it done. When I run the same code using plain python, the fakefs is working as expected. But when I run `behave` to execute the tests, calls to `os.mkdir()`, `os.makedirs()` or `os.path.exists()` will be executed on the actual file system. File I/O still will be done on the patched filesys

[2022-08-12 11:56] schwaerz commented on #703
Some more info: Just realized that I could check the debugger:
Turns out that `os` is not replaced at all in this case. However - in the patcher - I will find the fake os module.

[2022-08-12 12:49] schwaerz commented on #703
Looks like I found a "solution" in the meantime. Maybe it is even the way to do this anyways:
* In the behave test steps, `os` will not be replaced. Therefore I had to switch to using the patcher methods explicitly.
* In the productive code, `os` was replaced. Therefore overall I got it working now.

Not sure whether this is really as it is supposed to be?

[2022-08-12 18:03] mrbean-bremen commented on #703
Interesting - at a first glance, this looks strange, and I have no idea what the problem is.
I haven't used `behave`, and I don't know what it does behind the scenes - maybe it does some patching itself that interferes with `pyfakefs`, but that is just guesswork.

I will have a closer look to understand the problem and will let you know if I find some way to fix this.

[2022-08-12 19:15] mrbean-bremen commented on #703
Ok, as far as I understand, the problem is that the environment and steps modules do not appear in `sys.modules`. `Behave` seems to have some internal mechanism to load them, and it is probably not a good idea to undermine this by reloading them explicitely, as this might break the behavior.

There is one workaround I can think of: do not load the file system modules globally in the tests (e.g. in

[2022-08-12 20:04] Codeberg-AsGithubAlternative-buhtz opened #704 "Path.cwd() different when used as default argument"
I'm not new to PyFakeFS but this took me a while to find out the cause of my problem. But I am still not sure if this is a bug or just a misunderstanding on my site.

When PyFakeFS is activated the return value of `pathlib.Path.cwd()` should be `/`.
But when I use `pathlib.Path.cwd()` as a default argument in a function it returns the working directory of the real file system.

See this code to re

[2022-08-13 07:52] Codeberg-AsGithubAlternative-buhtz commented on #704
Mhm... I thought I found my mistake. But using `patch_default_args` doesn't help also.

[code]

The output is the same.

[2022-08-13 17:51] mrbean-bremen commented on #704
Thanks - this is indeed a shortcoming of the patching of default arguments. Apart from the fact that it is off by default (which you already found), it only checks the arguments for file system _functions_, not for file system _classes_ (in this case `pathlib.Path`). This case is not mentioned in the documentation, so it is not obvious... It just never came up so far.

The only way to prevent this

[2022-08-13 19:09] Codeberg-AsGithubAlternative-buhtz commented on #704
Thanks a lot. From my side you can close that Issuse.

Just for documentation to others here the code that works. I separated it into two files.

Here is `x.py`:
[code]

This is `test_x.py`
[code]

[2022-08-13 19:13] mrbean-bremen commented on #704
Thanks - I'll leave it open for a while to investigate if this can be fixed without the need to reload.

[2022-08-13 20:12] Codeberg-AsGithubAlternative-buhtz commented on #704
I am sorry to bother you again. But maybe I created another edge case. The example code I used here worked with your solution. But porting that into my real productive code doesn't help. I assume this is because of the way I structure that package with it's sub-packages and how I import them.
But I don't get a solution.

Again the problem is that the `pathlib.Path.cwd()` used as defaut argument re

[2022-08-13 20:15] mrbean-bremen commented on #704
Ok, I will probably have a look at it tomorrow.